<a href="https://colab.research.google.com/github/gautamdhanrajnemmaniwar/Project-on-Navigating-the-Data-Science-Job-Landscape/blob/main/Mid_Course_Summative_Assignment_Numerical_Programming_in_Python_Analyze_it_Yourself.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Problem Statement: Navigating the Data Science Job Landscape**

üöÄ Unleash your creativity in crafting a solution that taps into the heartbeat of the data science job market! Envision an ingenious project that seamlessly wields cutting-edge web scraping techniques and illuminating data analysis.

üîç Your mission? To engineer a tool that effortlessly gathers job listings from a multitude of online sources, extracting pivotal nuggets such as job descriptions, qualifications, locations, and salaries.

üß© However, the true puzzle lies in deciphering this trove of data. Can your solution discern patterns that spotlight the most coveted skills? Are there threads connecting job types to compensation packages? How might it predict shifts in industry demand?

üéØ The core objectives of this challenge are as follows:

1. Web Scraping Mastery: Forge an adaptable and potent web scraping mechanism. Your creation should adeptly harvest data science job postings from a diverse array of online platforms. Be ready to navigate evolving website structures and process hefty data loads.

2. Data Symphony: Skillfully distill vital insights from the harvested job listings. Extract and cleanse critical information like job titles, company names, descriptions, qualifications, salaries, locations, and deadlines. Think data refinement and organization.

3. Market Wizardry: Conjure up analytical tools that conjure meaningful revelations from the gathered data. Dive into the abyss of job demand trends, geographic distribution, salary variations tied to experience and location, favored qualifications, and emerging skill demands.

4. Visual Magic: Weave a tapestry of visualization magic. Design captivating charts, graphs, and visual representations that paint a crystal-clear picture of the analyzed data. Make these visuals the compass that guides users through job market intricacies.

üåê While the web scraping universe is yours to explore, consider these platforms as potential stomping grounds:

* LinkedIn Jobs
* Indeed
* Naukri
* Glassdoor
* AngelList

üéà Your solution should not only decode the data science job realm but also empower professionals, job seekers, and recruiters to harness the dynamic shifts of the industry. The path is open, the challenge beckons ‚Äì are you ready to embark on this exciting journey?

# **Project Name** - Navigating the Data Science Job Landscape

* **Project Type** - Web Scraping and Data Visualization on Job Postings
* **Project Member** - Gautam Dhanraj Anita Nemmaniwar

# **Project Summary**

* The purpose of these project is to **analyse the market for data science jobs** that are available all over India and harvest vital insights that can help professionals, job seekers, and recruiters to utilize this data inorder to understand the dynamic shifts of the industry.

* Here we are going to first **scrap data** from data science job postings that are available online on many sites like LinkedIn, Indeed, Naukri, Shine, etc. Then we are going to do few **data wrangling** operations to organize our data that can be readily used for **data visualization**.

* At last we are going to end the project with a brief and suffice conclusion that gives an overall understanding of the project.

# **GitHub Link -**

# **Problem Statement**

The primary objectives of this project is:

* To perform and understand **web scraping** mechanism inorder to gather data on data science job postings from online platforms.

* To perform various **data wrangling** operations like removing or replacing data, adding a new column, changing the datatype, etc.

* To analyse data and collect important insights with the help of charts, graphs, and visual representations (**data visualization**).

# ***Let's Begin !***

## ***1. Web Scraping***

In [2]:
# Importing Libraries

import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['font.size'] = 12

In [3]:
# Making a request to the website for multiple pages

page = 1   # Starting from page no. 1 of the job website
responses_list = []   # Empty list to store the response for all pages

while page != 50:

  # Website link from where the job postings are to be extracted
  url = f"https://www.shine.com/job-search/data-science-jobs-{page}?top_companies_boost=true&q=Data%20Science,&location=243&location=437&location=249&location=246&location=244&location=423&location=247&location=453&location=406&location=285&location=329&location=424&location=353&location=310&location=404&location=522&location=442&location=378&location=321&location=290&location=523&location=278&location=358&location=315&location=291&location=289&location=330&location=305&location=386&location=328&location=322&location=242&location=400&location=364&location=272"

  # Request sent to the site inorder to get the URL for the specific page
  response = requests.get(url)

  # Print the response code after getting the response of the request we sent
  print(f"The response that we got back from the URL is {response.status_code}.")

  # Adding the response of each page to the list
  responses_list.append(response)

  # Incrementing the page by 1 to go to next page
  page += 1

The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.
The response that we got back from the URL is 200.

In [4]:
# Parsing through HTML for each page

soup_list = []   # Empty list to store all parsed data
html_list = []   # Empty list to store all HTML data

for i in responses_list:
  soup = BeautifulSoup(i.text,'html.parser')   # Parsing through the HTML data for each page
  soup_list.append(soup)

  html = soup.find_all('div')   # Extracting all the HTML data for 'div' from each page
  html_list.append(html)

***Job Title***

In [77]:
# Finding Job Titles from each page

titles_list = []   # Empty list for storing all the job titles

for i in soup_list:

  # Obtaining the HTML data for job title
  req = i.select('div h2[itemprop = "name"]')

  # Getting the text from the HTML for each page
  titles = [r.text for r in req]

  # Removing spaces if any
  titles = [t.replace("  ", " ").strip() for t in titles]

  # Adding job titles of each page to a list for each job positing
  titles_list.append(titles)

# Flatten List using sum() function
titles_list = sum(titles_list, [])

# Print all the job titles
titles_list

['Data Scientist',
 'Data Scientist',
 'Data Science',
 'for __Data Scientist Mumbai',
 'Required for _Data Scientist Mumbai',
 'Data Scientist Recruitment',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist Lead',
 'Gen AI- Developer',
 'Gen AI- Developer',
 'Data Scientist Artificial Intelligence',
 'Data Scientist Vacancy',
 'Data Scientist Vacancy',
 'Data Scientist',
 'Profile for _Data Science Consultant',
 'Senior Consultant/Principal - Business Consulting (AILA ...',
 'Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist (ML/AI) Pune',
 'Senior Data Scientist',
 'Data scientist Drivetrain',
 'Machine Learning Engineer',
 'Research Manager',
 'Engineer II - Data scientist',
 'Asset Management Marketing Intelligence',
 'Technical Product Owner- Data warehousing ,data visuali ...',
 'Business Processes Consultant- AI/ML (Data Services/Int ...',
 'Data Scientist',
 'Data Scientist Artificial Intelligence',
 'Product Data Science Manager, People Analytics',
 'Diagnostic Data Engineer for a Leading Automotive Compa ...',
 'Associate Sr. - Data Analytics',
 'Associate, Associate Data Manager, Clinical Data Scienc ...',
 'Senior Data Scientist- ML Engineer',
 'Social Media Analyst',
 'for __Data Scientist Mumbai',
 'Omnichannel Data Assurance QA Lead for a Leading MNC in ...',
 'Manager, Data Scientist',
 'Lead Consultant -Cloud Data Engineer (Snowflake) for a ...',
 'Data Scientist',
 'Power Programmer - Specialist Programmer Data Engineeri ...',
 'Sr Data Platform Engineer - Python /GCP/Snowflake | 10+ ...',
 'SR. DATA SCIENTIST',
 'DATA SCIENTIST I',
 'Data Scientist',
 'Lead Software Engineer',
 'Senior Associate, Principal Statistical Data Scientist',
 'GCP Data Engineer',
 'Data Scientist Artificial Intelligence',
 'Data Scientist Artificial Intelligence',
 'Data Engineering Software Development Engineer',
 'Data Scientist',
 'Associate Divisional Manager Data Scientist Chennai',
 'for __Data Scientist Mumbai',
 'Hire DATA SCIENTIST- MIS EXECUTIVE',
 'AWS Data Engineer for a leading MNC in Bangalore',
 'Data Scientist MIS Executive',
 'Need Data Scientist  MIS Executive',
 'ICETS -PYTHON (AI/ML) Q3 -2023',
 'Data Scientist - Spark/Python/Redshift',
 'Data Scientist',
 'Data Scientist Mumbai',
 'Data Engineer',
 'Data Scientist',
 'AI, ML TECHNICAL ARCHITECT',
 'Looking for TECHNICAL SPECIALIST AI, ML',
 'Vacant for AI Technical Engineer',
 'Hire for _ Manager-Data Annotation',
 'Java8, Kafka Streams, Machine Learning, AI Developer',
 'CORE PYTHON DEVELOPMENT ENGINEER / PYTHON EXPERT',
 'Data Scientist Hiring Fresher and Experience',
 'Data Scientist Hiring Fresher and Experience',
 'Hiring for Data Scientist - mumbai',
 'Data Engineer',
 'Data Scientist',
 'Data Scientist Hiring Fresher and Experience',
 'Position for _ Computer Vision Engineer',
 'Data Scientist Bangalore',
 'Data Engineer',
 'Senior Data Scientist',
 'Hire for _ Fullstack Python Developer',
 'Hire for _ Full-Stack Engineer',
 'Data Scientist (ML/AI)',
 'Hiring for _GCP Data Engineer/Data Lead-Chennai',
 'Hiring for _GCP Data Engineer/Data Lead-Delhi',
 'Hire for _GCP Data Engineer/Data Lead-Delhi',
 'Hire Posted for _ Machine Learning Engineer',
 'Requirement for _ Python/Django Developer',
 'Hire Posted for _Python/Django Developer',
 'Data Analyst',
 'Requirement for _ Django Developer',
 'Hire Posted for _ Python/Django Developer',
 'Hire for QA Data Engineer',
 'Data Engineer Vacancy',
 'Data Engineer Vacancy',
 'Data Engineer Vacancy',
 'Hire for _ Python/Django Developer',
 'Data Scientist',
 'Data Scientist (ML/AI)',
 'Senior Manager - Visual Analytics Lead',
 'Data Scientist (ML/AI) Pune',
 'Data analyst / Data scientist',
 'Hire Post for  Artificial Intelligence Researcher',
 'Hire for _ Artificial Intelligence Researcher',
 'Profile for _Data Science Consultant',
 'Posted for _GCP Data Engineer/Data Lead-Bangalore',
 'Posted for _GCP Data Engineer/Data Lead-Bangalore',
 'Posted for _GCP Data Engineer/Data Lead-Hyderabad',
 'Hire _GCP Data Engineer/Data Lead-Hyderabad',
 'Hire _GCP Data Engineer/Data Lead-Mumbai',
 'Data Warehouse _ Manager For bangalore',
 'Data Warehouse _Manager',
 'Leadership Role - Data & Platform Engineering (Leading ...',
 'Data Modeler _Bangalore',
 'Python Lead',
 'Hiring for Data Science',
 'Hire _GCP Data Engineer/Lead/Architect- Mumbai',
 'Hire _GCP Data Engineer/Lead/Architect- Hyderabad',
 'Python Lead',
 'Hire _GCP Data Engineer/Lead/Architect- Mumbai',
 'Hire _GCP Data Engineer/Lead/Architect- Hyderabad',
 'Hiring _GCP Data Engineer/Lead/Architect- Bangalore',
 'Hiring _GCP Data Engineer/Lead/Architect- Bangalore',
 'Hiring _GCP Data Engineer/Lead/Architect- Chennai',
 'for _GCP Data Engineer/Lead/Architect- Chennai',
 'GCP Data Engineer/Lead/Architect- Pune',
 'GCP Data Engineer/Lead/Architect- Pune',
 'GCP Data Engineer/Lead/Architect- Mumbai',
 'Data Analyst Recruitment',
 'Data Analyst Recruitment',
 'Hiring for -Data Modeler - Bangalore',
 'Data Analyst Recruitment',
 'for Data Modeler _Bangalore',
 'Data Scientist - Business Intelligence',
 'Data Scientist - Machine Learning',
 'Hiring For Data Engineer',
 'Hiring For Data Engineer',
 'Academic Counsellor - Mumbai',
 'Data Scientist - Business Intelligence',
 'Analyst - Business Consulting (SURE)',
 'Analyst - Business Consulting (CMT)',
 'Sr Consultant/Principal - Business Consulting (CMT)',
 'Consultant - Business Consulting (CMT)',
 'Data Scientist - Machine Learning',
 'Data Engineer',
 'Principal Data Engineer Mumbai',
 'Data Engineer',
 'Data Engineer (BI)',
 'Data Engineer (BI)',
 'Consultant - Business Consulting (Life Sciences)',
 'Analyst - Business Consulting (Life Sciences)',
 'Subcontract Opening - Azure Data Engineer',
 'Data Bricks Data Engineer',
 'Data Modeler',
 'Data Engineer (BI)',
 'Hiring for Data Engineer - Bangalore',
 'Data Engineer',
 'Software Engineer Vacancy',
 'Analytics - Risk Analyst',
 'Subcontract Opening - Azure Data Engineer',
 'Consultant - Business Consulting (Life Sciences)',
 'Analyst - Business Consulting (Life Sciences)',
 'Data Engineer (BI)',
 'ANALYTICS DATA SCIENCE LEAD - AHMEDABAD - id35388',
 'Hiring for Data Engineer - Bangalore',
 'Data Engineer',
 'Hiring for __Data Science',
 'Data Scientist Recruitment',
 'Data Scientist Recruitment',
 'Analyst - Business Consulting (SURE)',
 'Analyst - Business Consulting (CMT)',
 'Sr Consultant/Principal - Business Consulting (CMT)',
 'Consultant - Business Consulting (CMT)',
 'Data Engineer',
 'Software Senior Engineer',
 'Software Engineer Vacancy',
 'Software Engineer Vacancy',
 'Data Scientist Recruitment',
 'Data Bricks Data Engineer',
 'Reconciliation-Deputy Manager',
 'Data Science for kochi',
 'Infrastructure Specialist AWS Platform',
 'Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Azure Data Engineer for PUNE',
 'Software Development Specialist',
 'Head Data Engineering Mumbai upto 50L CTC 7+yrs Exp',
 'for _ Azure Data Engineer - Pune',
 'Hiring for _ Azure Data Engineer - Pune',
 'ASSOCIATE -CREDIT RISK DATA CONTROL(CRDC)-CREDIT RISK D ...',
 'Hiring For Software Engineer',
 'Hiring For Software Engineer',
 'Hiring For Software Engineer',
 'Data Engineer II, Amazon WFM Tech Enterprise Data',
 'Associate Director',
 'Data Engineering Quality Engineer (Tester)',
 'ANI-Data & Analytics Current Assessment-Senior Associat ...',
 'GCP Data Engineer- Mumbai',
 'GCP Data Engineer- Pune',
 'Data Engineer',
 'Hiring for _GCP Data Engineer/Lead- Hyderabad',
 'Hiring for _GCP Data Engineer/Lead- Hyderabad',
 'Hiring for _GCP Data Engineer/Lead- Bangalore',
 'for _GCP Data Engineer/Lead- Bangalore',
 'for _GCP Data Engineer/Lead- Chennai',
 'Position for _GCP Data Engineer/Lead- Delhi',
 'Hire DATA SCIENTIST- MIS EXECUTIVE',
 'Data Scientist',
 'Associate Director',
 'Data Scientist Management Consulting - Mumbai',
 'Investment Analyst',
 'Data Engineer/data Science Consultant',
 'Manager-Data Annotation',
 'Diagnostic Data Engineer for a Leading Automotive Compa ...',
 'Big Data Developer',
 'Data engineer Bangalore',
 'HR Intern - mumbai',
 'Chatbot programmer',
 'Big Data Developer',
 'Position Require for Data Engineer',
 'Python/Django Developer in noida',
 'Senior S4 HANA Data Analyst for a Leading MNC in Chenna ...',
 'Data Engineer',
 'Python/Django Developer in delhi',
 'Data Analyst , Senior Data Analyst , Data Analyst - Tec ...',
 'Python/Django Developer in delhi',
 'Python/Django Developer Noida',
 'Profile for _Business Analyst- - Sharepoint',
 'Data Science Strategic Analytics- Associate',
 'Full-Stack Engineer',
 'Hiring For Data Analyst',
 'Hiring For Data Analyst',
 'Python Developer',
 'Hiring For Data Analyst',
 'Fullstack Python Developer',
 'We need for  Python Data Engineer',
 'Python/Django Developer Gurugram',
 'Profile for _Business Analyst- - Sharepoint',
 'Manager - Decision Sciences',
 'We need for  Python Data Engineer',
 'Immediate Need for  Data Analysis',
 'Associate Software Engineer - Java Developer',
 'Senior Consultant - Business Consulting (Life Sciences) ...',
 'Data Quality/Automation Analyst - Team Leader',
 'Firewall Architecture Security Architect',
 'Data Centre Engineer',
 'Data Analyst',
 'Machine Learning Research Engineer',
 'Python/Django Developer Pune',
 'Python/Django Developer Noida',
 'Python/Django Developer Mumbai',
 'Python/Django Developer Kolkata',
 'Python/Django Developer Hyderabad',
 'Python/Django Developer Gurugram',
 'Python/Django Developer Delhi',
 'Python/Django Developer Chennai',
 'Software Engineer',
 'Lead Data Scientist',
 'Hadoop Administrator - Cluster Management',
 'Microstrategy _Consultant - BI Solutions',
 'Data engineer',
 'AI Data Validator, OPTIMA - Alexa Shopping',
 'Senior Machine Learning Engineer',
 'Assistant -Data Science Engineer',
 'Sales Associate',
 'SAP Data Quality Management DQM Application Developer',
 'Package Consultant SAP HANA Basis',
 'Data Scientist',
 'Hiring for Chatbot development with LTImindree.',
 'Platform Engineer',
 'Student Counsellor',
 'DATA ENGINEER',
 'Position Require for Data Engineer',
 'Senior Associate- Data Owner (Card Lending)',
 'Content Reviewer Bangalore',
 'Data Scientist',
 'CN - Strategy - MC - Banking - Data AI - 09',
 'Hiring for Data Scientist - mumbai',
 'Hiring for Data Scientist - mumbai',
 'Remote _Data Entry Specialists',
 'Position for _ Computer Vision Engineer',
 'Senior Data Analyst',
 'Data Analyst For iron ore manufacturing unit',
 'Big Data Analyst _chennai',
 'APPLY for the Data Management',
 'Machine Learning Engineer',
 'Deputy Manager / Manager',
 'Senior Data Engineer',
 'Data Analyst',
 'Senior Data Engineer',
 'Hire for _ Python/Django Developer',
 'Data Analyst',
 'Data Analyst',
 'Project Management Office-Technical Assistant',
 'SENIOR AI ENGINEER',
 'AI Prompt Engineer - Mumbai & Kolkata - MNC',
 'AI - Prompt Engineer - MNC',
 'Big Data Analyst __ chennai',
 'Data Analyst',
 'Senior Data Engineer',
 'Data Analyst',
 'Data Analyst',
 'Project Management Office-Technical Assistant',
 'for _GCP Data Engineer/Lead/Architect- Delhi',
 'Data Modeler _Bangalore',
 'Immediate Opening for Manager-Remote Support',
 'AI Prompt Engineer - Mumbai & Kolkata - MNC',
 'AI - Prompt Engineer - MNC',
 'Applied vacant for Design Robusntness Expert',
 'Data Engineer vacancy',
 'Hiring for _GCP Data Engineer/Data Lead-Chennai',
 'AWS Data Engineer/Developer',
 'Lead Analytics Consultant - BFSI',
 'Hire _GCP Data Engineer/Lead/Architect- Hyderabad',
 'Hiring for MIS-Data Analyst-Gurgaon Location',
 'Hiring For Data Engineer',
 'Project Coordinator (Data analyst) Bangalore',
 'Sr. Quality Analyst, Prime Video',
 'Quality Analyst, Prime Video',
 'Analytics and Modeling Analyst',
 'Big Data Analyst _chennai',
 'Associate Medical Data Review Manager (For Mecidal & He ...',
 'Hire for _GCP Data Engineer/Data Lead-Delhi',
 'Hiring for _GCP Data Engineer/Data Lead-Delhi',
 'Hiring for _GCP Data Engineer/Data Lead-Chennai',
 'Posted for _GCP Data Engineer/Data Lead-Bangalore',
 'Posted for _GCP Data Engineer/Data Lead-Bangalore',
 'Posted for _GCP Data Engineer/Data Lead-Hyderabad',
 'Hire _GCP Data Engineer/Data Lead-Hyderabad',
 'Hire _GCP Data Engineer/Data Lead-Mumbai',
 'Snowflake Data Warehouse Data Platform Engineer',
 'Databricks Unified Data Analytics Platform Data Platfor ...',
 'Machine Learning Engineer',
 'Senior Software Engineer (.Net Developer)',
 'SAP Master Data Governance MDG Tool Application Develop ...',
 'Siebel EIM',
 'Product Tech, Solution Architect, MPT',
 'Lead Python Engineer (Intersection role of Data Science ...',
 'Golang Developer',
 'Microsoft SQL Server Application Developer',
 'SAP Master Data Governance for Financial Data (MDG-F To ...',
 'Senior Data Analyst',
 'Snowflake Data Warehouse Application Lead',
 'Databricks Unified Data Analytics Platform Data Platfor ...',
 'CN - Strategy - MC - Travel - 07',
 'Apache Spark Application Developer',
 'Microsoft Azure Analytics Services Application Develope ...',
 'Microsoft Azure Analytics Services Application Lead',
 'RSA Archer Platform Administration Security Architect',
 'SAP CO Product Cost Controlling Application Developer',
 'SAP TM Transportation Management Application Developer',
 'Software Engineering Technical Leader - Java or Python/ ...',
 'Software Development Senior Specialist',
 'Data Engineering Application Developer',
 'Software Development Advisor',
 'Prod Mgmt Engineering Lead Consultant',
 'Prod Mgmt Engineering Senior Consultant',
 'Sys. Integration Sr. Specialist Advisor',
 'Enterprise Resource Planning Advisor',
 'Senior Data Engineer',
 'Data Analyst',
 'Hire for _ Python/Django Developer',
 'Vice President - Portfolio Risk(Wealth Management Risk ...',
 'Data Analyst',
 'Performance Testing Strategy Performance Engineer',
 'Pharmacovigilance Services Analyst - Foreign Language',
 'Data Analyst',
 'BGSW SAP MDG Sr. Consultant',
 'SENIOR AI ENGINEER',
 'Java with Microservices - 3 to 8 years - Bangalore',
 'Software Engineer - Platform, Embedded/ C++/C Driver/Ke ...',
 'India Market Unit - Data Engineering - 09',
 'SAS Data Integration Technology Platform Engineer',
 'SAS Data Integration Technology Platform Engineer',
 'Data Engineer vacancy',
 'SAP Master Data Governance MDG Tool Application Support ...',
 'Data Engineer vacancy',
 'Senior Data engineer Gurugram',
 'Business Analyst- Reinsurance',
 'Data Analyst - Java/Python',
 'Business Intelligence / Data Visualization Developer D ...',
 'Process Lead',
 'Senior Data Analyst',
 'Full-Stack Engineer',
 'Python/Django Developer in pune',
 'Python/Django Developer in pune',
 'Python/Django Developer in pune',
 'Python/Django Developer in pune',
 'Python/Django Developer in noida',
 'Python/Django Developer in Ahmedabad',
 'Power BI Developer',
 'Mainframe DB2 DBA',
 'Senior Consultant - Business Consulting (GRC)  Q3FY24',
 'Oracle EBS Technical Developer',
 'Oracle EBS Technical Developer',
 'Java Developer Q3 FY 24 (CMTDCG)',
 'Java Developer Q3 FY 24 (CMTDCG)',
 'Java Developer Q3 FY 24 (CMTDCG)',
 'Java Developer Q3 FY 24 (CMTDCG)',
 'Profile for _MS Power BI Professional',
 'Power BI Specialist - Data Modeling',
 'Senior Data Engineer Gurugram',
 'Position for _ Platform Engineer',
 'Power Bi _Developer',
 'Business Intelligence Engineer (Developer) - Fintech Co ...',
 'Data Scientist - (BERT, NLP), Kubeflow (or) ML Ops',
 'Data Modeler',
 'Python/Django Developer Bangalore',
 'Data Engineer Backfill',
 'MS Power BI Professional - Chennai',
 'Business Analyst',
 'Senior Principal Data Engineer',
 'Hire for _ Power Bi Developer',
 'Data entry clerks',
 'Senior Developer/ Team Lead-Qlikview',
 'Power BI Developer',
 'Machine Learning Research Engineer',
 'SAP PP/QM Consultant',
 'SAP PP/QM Consultant',
 'SAP Successfactor Consultant',
 'Digital Marketing Analyst',
 'SAP HCM Payroll Consultant',
 'SAP HCM Payroll Consultant',
 'SAP PP/QM Consultant',
 'SAP Successfactor Consultant',
 'SAP PP/QM Consultant',
 'SAP PP/QM Consultant',
 'SAP PP/QM Consultant',
 'IT Testing',
 'INDD Cloud, Storage & Security',
 'IT Testing',
 'Python/Django Developer in pune',
 'Python/Django Developer in pune',
 'Python/Django Developer in noida',
 'Python/Django Developer in Ahmedabad',
 'Data Scientist - (BERT, NLP), Kubeflow (or) ML Ops',
 'Infrastructure Services Consultant',
 'SAP Master Data Governance MDG Tool Application Lead',
 'Specialist, Technical Professional Services',
 'Analytics Senior Analyst - Marketing and Customer Analy ...',
 'Lead Consultant - Snowflake Enterprise Platform Admin f ...',
 'SAP CO Management Accounting Application Designer',
 'GN - SC&O - S&P - Procurement Transformation - Consulta ...',
 'GN - SC&O - S&P - Business Solutions - Manager',
 'Informatica Intelligent Cloud Services Data Platform En ...',
 'Cloud Support Associate',
 'HR Leader - ISCM (Manufacturing, HSE, Support Functions ...',
 'Security Information and Event Management (SIEM) Operat ...',
 'Google Kubernetes Engine Cloud Migration Engineer',
 'Data Science Strategic Analytics-Associate',
 'AI Full Stack Developer',
 'Hiring for MIS-Data Analyst-Gurgaon Location',
 'Quality & Performance Senior Analyst',
 'Database Admin Senior Specialist',
 'Database Admin Senior Specialist',
 'Salesforce Health Cloud Application Developer',
 'Salesforce Health Cloud Application Developer',
 'SAP ABAP Development for HANA Application Developer',
 'AWS Data Engineer/Developer',
 'Clinical Data Svs Associate-Clinical',
 'Oracle Analytics Cloud Application Developer',
 'Workday Prism Analytics Application Designer',
 'Reltio Application Developer',
 'Project Coordinator (Data analyst) Bangalore',
 'Project Coordinator (Data Analyst) Bangalore',
 'Actimize Application Developer',
 'Actimize Application Developer',
 'SAP Manufacturing Integration & Intelligence Applicatio ...',
 'Quality Auditing Associate Manager-Software and Platfor ...',
 'Procurement Operations Specialist - Procurement managem ...',
 'Cloud Based Service Management Process Design Cloud Mig ...',
 'Salesforce DevOps Release Engineer',
 'SFDC Salesforce Developer',
 'Power Apps and Power BI Developer',
 'Pega',
 'SAP PP/QM Consultant',
 'Sr. Salesforce Developer',
 'Data Engineer',
 'Business Analyst',
 'ER modelling',
 'Project Manager-Development Operations',
 'Senior Manager HR',
 'Process Specialist',
 'We have an opening for Data Analysis & Interpretation A ...',
 'Data Engineer',
 'MANAGER-WORKDAY ANALYTICS NOIDA',
 'MANAGER-WORKDAY ANALYTICS GURUGRAM',
 'Data Analyst (Business professional Institute)',
 'Core Python / Snowflake',
 'OBIEE/ODI Consultant',
 '.Net Architect',
 'CICS System Programmer',
 '.Net Core Lead',
 '.Net Core Senior Developer',
 '.Net Core Senior Developer',
 '.Net Core Senior Developer',
 'Advanced Analytics Engineer',
 'Data Engineer I, International Machine Learning',
 'Senior QA Automation Engineer with Networking/ 8-12 yea ...',
 'Technical Leader- QA Automation with Networking / 12-16 ...',
 'Specialist-Data Center Operations',
 'Data Analyst',
 'Business Intelligence Advisor',
 'GCP Data Architect with PreSales',
 'Big Data Engineer || Lead || IRC189683',
 'Data Analyst',
 'Senior Manager - DMS Support/Senior Manager - DMS Suppo ...',
 'Data Scientist - Machine Learning',
 'Digital Engineering Lead Consultant',
 'Digital Engineering Sr. Engineer',
 'Digital Engineering Senior Consultant',
 'Pega',
 'Consultant - Business Consulting (SURE)',
 'Sr Consultant/Principal - Business Consulting (SURE)',
 'SAP Analytics Consultant - SAP Analytics Cloud, SAC Pla ...',
 'Vacant for  _GCP Data Engineer- Delhi',
 'Vacant for  _GCP Data Engineer- Chennai',
 'for  _GCP Data Engineer- Chennai',
 'for  _GCP Data Engineer- Bangalore',
 'Hiring for  _GCP Data Engineer- Bangalore',
 'Hiring for  _GCP Data Engineer- Hyderabad',
 'Hiring for  _GCP Data Engineer- Hyderabad',
 'Hire _GCP Data Engineer- Mumbai',
 'Hire _GCP Data Engineer- Pune',

***Company Name***

In [79]:
# Finding Company Names from each page

company_list = []   # Empty list for storing all the company names

for i in soup_list:

  # Obtaining the HTML data from the class where the company name data is present
  req1 = soup.find_all('div', class_ = 'jobCard_jobCard_cName__mYnow')

  # Fetching the text from the HTML for each page
  company = [r.text for r in req1]
  sub_string = 'Hiring'

  # Splitting the string on a sub_string and getting the first index (cleaning up names)
  company = [c.split(sub_string)[0] for c in company]

  # Removing spaces if any
  company = [c.strip().replace(".", "") for c in company]

  # Adding the company name to the list for each job positing
  company_list.append(company)

# Flatten List using sum() function
company_list = sum(company_list, [])

# Print all the company names
company_list

['MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',
 'MNR Solutions Pvt Ltd',
 'EXPONUS TRADELINK PRIVATE LIMITED',
 'CORPORATE STEPS',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Alpine Manpower Services',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Manish Enterprises',
 'Merck Ltd',
 'Clyent Technologies',
 'Merck Ltd',
 'MNR Solutions Pvt Ltd',
 'QUISCON BIOTECH',

***Job Location***

In [80]:
# Finding Job Locations from each page

location_list = []   # Empty list for storing all the job locations

for i in soup_list:

  # Obtaining the HTML data from the class where the job location data is present
  req2 = i.find_all('div', class_ = 'jobCard_jobCard_lists__fdnsc')

  # Obtaining all the text from the HTML
  location = [r.text for r in req2]

  # Cleaning up using regex
  location = [re.findall("Yrs?(.*)$", l)[0] for l in location]

  # Getting rid of unnecessary text
  location = [l.replace("Mumbai City", "Mumbai") for l in location]
  location = ["All India" if ',' in l or '+' in l else l for l in location]

  # Adding the job location to the list for each job positing
  location_list.append(location)

# Flatten List using sum() function
location_list = sum(location_list, [])

# Print all the job locations
location_list

['All India',
 'All India',
 'Bangalore',
 'Mumbai',
 'Mumbai',
 'All India',
 'Bangalore',
 'All India',
 'All India',
 'All India',
 'Pune',
 'Bangalore',
 'All India',
 'All India',
 'All India',
 'All India',
 'All India',
 'Bangalore',
 'All India',
 'All India',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'All India',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Pune',
 'Pune',
 'Gurugram',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Bangalore',
 'Gurugram',
 'Mumbai',
 'Chennai',
 'Pune',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'All India',
 'Pune',
 'Chennai',
 'All India',
 'Pune',
 'Bangalore',
 'Gurugram',
 'Noida',
 'Chennai',
 'Mumbai',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Mumbai',
 'Bangalore',
 'All India',
 'All India',
 'Mumbai',
 'Hyderabad',
 'Mumbai',
 'Kochi',
 'Kochi',
 'Bangalore',
 'Udaipur',
 'Bangalore',
 'Gurugram',
 'All India',
 'All India',
 'Mumbai',
 'All India',
 'Chennai',
 'All India',
 'Bangalore',
 'Bangalore',
 'All India',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Pune',
 'Chennai',
 'Delhi',
 'Delhi',
 'Bangalore',
 'Pune',
 'Ahmedabad',
 'All India',
 'Pune',
 'Delhi',
 'Pune',
 'All India',
 'All India',
 'All India',
 'All India',
 'Bangalore',
 'Pune',
 'Chennai',
 'Pune',
 'Mumbai',
 'Pune',
 'Pune',
 'All India',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'All India',
 'Bangalore',
 'Bangalore',
 'Noida',
 'Mumbai',
 'Hyderabad',
 'Bangalore',
 'Mumbai',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Chennai',
 'Pune',
 'Pune',
 'Mumbai',
 'All India',
 'All India',
 'Bangalore',
 'All India',
 'Bangalore',
 'Pune',
 'Pune',
 'All India',
 'All India',
 'Mumbai',
 'Pune',
 'Hyderabad',
 'Hyderabad',
 'Bangalore',
 'Pune',
 'Pune',
 'All India',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'All India',
 'Mumbai',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'All India',
 'Noida',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Ahmedabad',
 'Bangalore',
 'Bangalore',
 'Gurugram',
 'All India',
 'All India',
 'Hyderabad',
 'Hyderabad',
 'Bangalore',
 'Pune',
 'All India',
 'Bangalore',
 'All India',
 'All India',
 'All India',
 'All India',
 'Noida',
 'Kochi',
 'Bangalore',
 'All India',
 'All India',
 'All India',
 'Pune',
 'Bangalore',
 'Mumbai',
 'Pune',
 'Pune',
 'All India',
 'All India',
 'All India',
 'All India',
 'Bangalore',
 'Mumbai',
 'Pune',
 'Bangalore',
 'Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Delhi',
 'Mumbai',
 'Chennai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'All India',
 'Udaipur',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'All India',
 'Bangalore',
 'Bangalore',
 'Noida',
 'Chennai',
 'Bangalore',
 'Delhi',
 'All India',
 'Delhi',
 'Noida',
 'All India',
 'Mumbai',
 'Bangalore',
 'All India',
 'All India',
 'Surat',
 'All India',
 'Bangalore',
 'All India',
 'Gurugram',
 'All India',
 'Bangalore',
 'All India',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Indore',
 'Pune',
 'Noida',
 'Mumbai',
 'Kolkata',
 'Hyderabad',
 'Gurugram',
 'Delhi',
 'Chennai',
 'Bangalore',
 'Noida',
 'Pune',
 'Pune',
 'Mumbai',
 'Chennai',
 'Bangalore',
 'Mumbai',
 'Gurugram',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'All India',
 'Bangalore',
 'Chennai',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Noida',
 'Gurugram',
 'Mumbai',
 'Mumbai',
 'All India',
 'Bangalore',
 'Mumbai',
 'Jabalpur',
 'All India',
 'Bangalore',
 'All India',
 'Nashik',
 'All India',
 'Pune',
 'Mumbai',
 'All India',
 'Mumbai',
 'Mumbai',
 'Kolkata',
 'Gurugram',
 'All India',
 'All India',
 'All India',
 'Pune',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Kolkata',
 'Delhi',
 'Bangalore',
 'Bangalore',
 'All India',
 'All India',
 'Bangalore',
 'All India',
 'Chennai',
 'Bangalore',
 'All India',
 'Hyderabad',
 'Gurugram',
 'All India',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Noida',
 'All India',
 'Bangalore',
 'Delhi',
 'Delhi',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'All India',
 'Kolkata',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Mumbai',
 'Chennai',
 'Mumbai',
 'Gurugram',
 'Pune',
 'Kolkata',
 'Kolkata',
 'Noida',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Noida',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Noida',
 'Bangalore',
 'Bangalore',
 'All India',
 'Pune',
 'All India',
 'All India',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Gurugram',
 'Bangalore',
 'Bangalore',
 'Ahmedabad',
 'Bangalore',
 'Bangalore',
 'All India',
 'Pune',
 'All India',
 'Gurugram',
 'Kolkata',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'All India',
 'Bangalore',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Noida',
 'Ahmedabad',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Pune',
 'Bangalore',
 'Pune',
 'Bangalore',
 'All India',
 'All India',
 'Gurugram',
 'Mumbai',
 'Ahmedabad',
 'All India',
 'All India',
 'Bangalore',
 'Bangalore',
 'All India',
 'All India',
 'Gurugram',
 'Bangalore',
 'Udaipur',
 'All India',
 'Bangalore',
 'Noida',
 'Indore',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Hyderabad',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Chennai',
 'Pune',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Pune',
 'Pune',
 'Noida',
 'Ahmedabad',
 'All India',
 'Bangalore',
 'Hyderabad',
 'Pune',
 'Mumbai',
 'Chennai',
 'Chennai',
 'Pune',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Gurugram',
 'Bangalore',
 'Bangalore',
 'Noida',
 'Chennai',
 'Chennai',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Gurugram',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'All India',
 'Bangalore',
 'Bangalore',
 'All India',
 'All India',
 'Bangalore',
 'Mumbai',
 'Pune',
 'Pune',
 'Noida',
 'Noida',
 'Gurugram',
 'Noida',
 'Mumbai',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Gurugram',
 'Hyderabad',
 'Indore',
 'Jaipur',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Noida',
 'All India',
 'Nagpur',
 'Mumbai',
 'Delhi',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Delhi',
 'Chennai',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Mumbai',
 'Pune',
 'Chennai',
 'Hyderabad',
 'Hyderabad',
 'Mumbai',
 'Mumbai',
 'Pune',
 'Hyderabad',
 'All India',
 'Hyderabad',
 'All India',
 'Bangalore',
 'All India',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Noida',
 'Noida',
 'Noida',
 'All India',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Hyderabad',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Pune',
 'Hyderabad',
 'Hyderabad',
 'Bangalore',
 'Chennai',
 'Delhi',
 'Bangalore',
 'Hyderabad',
 'Mumbai',
 'Pune',
 'Delhi',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Mumbai',
 'Pune',
 'Bangalore',
 'Pune',
 'Ahmedabad',
 'Bangalore',
 'Bangalore',
 'Gurugram',
 'Bangalore',
 'Hyderabad',
 'Pune',
 'Kolkata',
 'Pune',
 'Hyderabad',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Mumbai',
 'All India',
 'Bangalore',
 'Chennai',
 'Pune',
 'Bangalore',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Indore',
 'Hyderabad',
 'Hyderabad',
 'Mumbai',
 'Pune',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Bangalore',
 'Chennai',
 'Hyderabad',
 'Indore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Mumbai',
 'Bangalore',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Delhi',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Pune',
 'Chennai',
 'Chennai',
 'Delhi',
 'Bangalore',
 'Mumbai',
 'Hyderabad',
 'Pune',
 'All India',
 'All India',
 'Delhi',
 'Bangalore',
 'Chennai',
 'Gurugram',
 'Pune',
 'Bangalore',
 'Noida',
 'Bangalore',
 'Hyderabad',
 'Hyderabad',
 'Noida',
 'Noida',
 'Noida',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Mumbai',
 'Bangalore',
 'Gurugram',
 'Hyderabad',
 'Gurugram',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Gurugram',
 'Pune',
 'Bangalore',
 'Gurugram',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Pune',
 'All India',
 'Bangalore',
 'All India',
 'Bangalore',
 'Bangalore',
 'Delhi',
 'Bangalore',
 'Bangalore',
 'All India',
 'Hyderabad',
 'Bangalore',
 'All India',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'All India',
 'Delhi',
 'Noida',
 'Noida',
 'Chennai',
 'Bangalore',
 'Pune',
 'Bangalore',
 'All India',
 'Bangalore',
 'Bangalore',
 'Pune',
 'Chennai',
 'Bangalore',
 'Chennai',
 'Bangalore',
 'Mumbai',
 'Gurugram',
 'Hyderabad',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Pune',
 'Gurugram',
 'Mumbai',
 'Gurugram',
 'Pune',
 'Gurugram',
 'Mumbai',
 'Gurugram',
 'Pune',
 'Bangalore',
 'Thiruvanananthapuram',
 'Kolkata',
 'Ahmedabad',
 'Mumbai',
 'Bangalore',
 'All India',
 'All India',
 'All India',
 'Chennai',
 'Mumbai',
 'Hyderabad',
 'All India',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Hyderabad',
 'All India',
 'Noida',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Chandigarh',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Mumbai',
 'Mumbai',
 'Indore',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Gurugram',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Thiruvanananthapuram',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Pune',
 'Pune',
 'Thiruvanananthapuram',
 'Thiruvanananthapuram',
 'Thiruvanananthapuram',
 'Bangalore',
 'Thiruvanananthapuram',
 'Bangalore',
 'Thiruvanananthapuram',
 'Thiruvanananthapuram',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Chennai',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'All India',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Gurugram',
 'Hyderabad',
 'Kolkata',
 'Bangalore',
 'Gurugram',
 'Pune',
 'Bangalore',
 'Chennai',
 'Gurugram',
 'Pune',
 'Chennai',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Gurugram',
 'All India',
 'All India',
 'Pune',
 'Chennai',
 'All India',
 'Bangalore',
 'All India',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Mumbai',
 'Hyderabad',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Noida',
 'Noida',
 'Noida',
 'Bangalore',
 'Noida',
 'Noida',
 'Bangalore',
 'Jaipur',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Kolkata',
 'Mumbai',
 'Bangalore',
 'Gurugram',
 'Surat',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Ahmedabad',
 'Bangalore',
 'Gurugram',
 'Bangalore',
 'All India',
 'Bangalore',
 'Pune',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'All India',
 'Indore',
 'Pune',
 'Hyderabad',
 'Bangalore',
 'Noida',
 'Bangalore',
 'Mumbai',
 'Hyderabad',
 'Bangalore',
 'Gurugram',
 'Bangalore',
 'Gurugram',
 'Mumbai',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Hyderabad',
 'Pune',
 'Chennai',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Gurugram',
 'Mumbai',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'All India',
 'Udaipur',
 'Gurugram',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Hyderabad',
 'Bangalore',
 'Bangalore',
 'Gurugram',
 'All India',
 'All India',
 'Delhi',
 'Kolkata',
 'Faridabad',
 'Kolkata',
 'Noida',
 'Faridabad',
 'Delhi',
 'Kochi',
 'Pune',
 'Mumbai',
 'Nagpur',
 'Faridabad',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Chennai',
 'All India']

***Job Experience***

In [81]:
# Finding Job Experience requried from each page

experience_list = []   # Empty list for storing all the job experience data

for i in soup_list:

  # Obtaining the HTML data from the class where the job experience data is present
  req3 = i.find_all('div', class_ = 'jobCard_jobCard_lists__fdnsc')

  # Obtaining all the text from the HTML
  experience = [r.text for r in req3]

  # Cleaning up using regex
  experience = [re.findall("^(.*) Yrs?", e)[0] for e in experience]

  # Adding the job experience to the list for each job positing
  experience_list.append(experience)

# Flatten List using sum() function
experience_list = sum(experience_list, [])

# Print all the job experience requried
experience_list

['3 to 6',
 '3 to 6',
 '0 to 2',
 '2 to 7',
 '2 to 7',
 '0 to 4',
 '0 to 4',
 '3 to 5',
 '5 to 10',
 '3 to 5',
 '0 to 2',
 '0 to 2',
 '7 to 12',
 '0 to 4',
 '0 to 4',
 '14 to 24',
 '3 to 6',
 '4 to 9',
 '0 to 4',
 '0 to 4',
 '0 to 1',
 '22 to 24',
 '0 to 4',
 '6 to 8',
 '12 to 14',
 '3 to 6',
 '0 to 4',
 '3 to 5',
 '5 to 7',
 '4 to 7',
 '6 to 8',
 '8 to 10',
 '7 to 10',
 '8 to 10',
 '0 to 4',
 '5 to 7',
 '5 to 10',
 '2 to 7',
 '8 to 13',
 '0 to 4',
 '12 to 15',
 '0 to 2',
 '0 to 5',
 '7 to 9',
 '5 to 7',
 '0 to 4',
 '0 to 1',
 '0 to 4',
 '5 to 6',
 '8 to 13',
 '5 to 7',
 '5 to 7',
 '6 to 8',
 '10 to 12',
 '7 to 12',
 '2 to 7',
 '4 to 6',
 '3 to 4',
 '4 to 6',
 '4 to 6',
 '1 to 7',
 '5 to 9',
 '1 to 5',
 '2 to 7',
 '4 to 9',
 '3 to 8',
 '12 to 18',
 '6 to 10',
 '1 to 2',
 '3 to 5',
 '5 to 10',
 '7 to 10',
 '0 to 4',
 '0 to 4',
 '3 to 8',
 '0 to 2',
 '3 to 5',
 '0 to 4',
 '5 to 10',
 '3 to 6',
 '4 to 6',
 '5 to 8',
 '2 to 4',
 '3 to 6',
 '0 to 1',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '5 to 10',
 '2 to 6',
 '2 to 6',
 '2 to 7',
 '2 to 6',
 '2 to 6',
 '5 to 8',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '2 to 6',
 '5 to 10',
 '0 to 1',
 '8 to 13',
 '0 to 1',
 '0 to 2',
 '5 to 10',
 '5 to 10',
 '3 to 6',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '3 to 6',
 '3 to 6',
 '20 to >25',
 '3 to 6',
 '2 to 5',
 '2 to 5',
 '2 to 3',
 '2 to 3',
 '2 to 5',
 '2 to 3',
 '2 to 3',
 '2 to 3',
 '2 to 3',
 '2 to 3',
 '2 to 3',
 '2 to 3',
 '2 to 3',
 '2 to 3',
 '0 to 4',
 '0 to 4',
 '3 to 6',
 '0 to 4',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '0 to 4',
 '0 to 4',
 '5 to 7',
 '3 to 6',
 '3',
 '3',
 '4 to 9',
 '2 to 4',
 '3 to 6',
 '3 to 6',
 '5 to 8',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '7 to 8',
 '8 to 17',
 '3 to 8',
 '10 to 15',
 '2 to 5',
 '0 to 1',
 '5 to 8',
 '3 to 5',
 '0 to 4',
 '4 to 6',
 '3 to 8',
 '7 to 8',
 '8 to 17',
 '0 to 1',
 '5 to 10',
 '5 to 8',
 '3 to 5',
 '2 to 5',
 '0 to 4',
 '0 to 4',
 '3',
 '3',
 '4 to 9',
 '2 to 4',
 '3 to 6',
 '3 to 5',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '10 to 15',
 '3 to 6',
 '4 to 9',
 '5 to 7',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '5 to 10',
 '5 to 7',
 '7 to 12',
 '5 to 10',
 '5 to 10',
 '3 to 5',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '3 to 5',
 '5 to 10',
 '6 to 8',
 '2 to 4',
 '6 to 11',
 '6 to 11',
 '7 to 12',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '4 to 6',
 '3 to 5',
 '5 to 10',
 '2 to 4',
 '3 to 5',
 '3 to 6',
 '3 to 5',
 '7 to 10',
 '0 to 2',
 '3 to 8',
 '2 to 6',
 '0 to 1',
 '0 to 2',
 '3 to 8',
 '2 to 6',
 '7 to 10',
 '3 to 11',
 '2 to 6',
 '0 to 4',
 '2 to 6',
 '2 to 6',
 '4 to 7',
 '1 to 7',
 '3 to 6',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '2 to 4',
 '10 to 17',
 '2 to 6',
 '4 to 7',
 '5 to 7',
 '10 to 17',
 '0 to 2',
 '0 to 4',
 '5 to 7',
 '5 to 7',
 '4 to 6',
 '1 to 3',
 '4 to 9',
 '5 to 10',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '0 to 4',
 '8 to 12',
 '3 to 6',
 '2 to 5',
 '5 to 7',
 '1 to 3',
 '4 to 6',
 '3 to 8',
 '1 to 3',
 '1 to 6',
 '7 to 10',
 '3 to 8',
 '3 to 8',
 '1 to 3',
 '0 to 2',
 '5 to 7',
 '3 to 8',
 '7 to 9',
 '0 to 2',
 '8 to 12',
 '3 to 9',
 '3 to 8',
 '3 to 8',
 '1 to 5',
 '5 to 10',
 '2 to 7',
 '2 to 3',
 '7 to 10',
 '7 to 11',
 '18 to >25',
 '4 to 6',
 '2 to 4',
 '1 to 5',
 '14 to 16',
 '2 to 6',
 '4 to 6',
 '4 to 6',
 '3 to 8',
 '3 to 5',
 '4 to 8',
 '6 to 11',
 '7 to 10',
 '1 to 5',
 '14 to 16',
 '4 to 6',
 '4 to 6',
 '3 to 8',
 '2 to 3',
 '3 to 6',
 '3 to 5',
 '4 to 8',
 '6 to 11',
 '4 to 9',
 '0 to 4',
 '6 to 8',
 '2 to 5',
 '10 to 15',
 '2 to 3',
 '0 to 4',
 '0 to 4',
 '2 to 4',
 '5 to 7',
 '2 to 4',
 '1 to 5',
 '7 to 10',
 '2 to 3',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '6 to 8',
 '3 to 6',
 '6 to 8',
 '18 to >25',
 '8 to 10',
 '6 to 8',
 '5 to 7',
 '8 to 10',
 '8 to 10',
 '2 to 3',
 '4 to 6',
 '8 to 10',
 '2 to 7',
 '1 to 2',
 '8 to 10',
 '2 to 15',
 '4 to 6',
 '1 to 3',
 '6 to 8',
 '4 to 6',
 '4 to 8',
 '6 to 8',
 '10 to 12',
 '0 to 4',
 '6 to 8',
 '8 to 10',
 '6 to 10',
 '3 to 5',
 '12 to 14',
 '5 to 7',
 '2 to 4',
 '1 to 5',
 '2 to 6',
 '8 to 10',
 '4 to 6',
 '4 to 6',
 '3 to 5',
 '4 to 6',
 '7 to 8',
 '3 to 5',
 '3 to 8',
 '3 to 8',
 '2 to 4',
 '12 to 15',
 '6 to 8',
 '0 to 4',
 '4 to 6',
 '0 to 4',
 '2 to 5',
 '3 to 6',
 '3 to 6',
 '2 to 5',
 '1 to 6',
 '0 to 2',
 '3 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '3 to 8',
 '6 to 12',
 '2 to 12',
 '2 to 5',
 '0 to 2',
 '0 to 4',
 '4 to 9',
 '0 to 4',
 '4 to 9',
 '7 to 10',
 '7 to 10',
 '2 to 5',
 '3 to 6',
 '5 to 9',
 '5 to 8',
 '1 to 5',
 '3 to 6',
 '2 to 6',
 '5 to 9',
 '7 to 10',
 '2 to 7',
 '4 to 9',
 '3 to 6',
 '1 to 5',
 '3 to 6',
 '6 to 10',
 '5 to 10',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 2',
 '2 to 4',
 '2 to 4',
 '2 to 4',
 '2 to 4',
 '2 to 4',
 '6 to 8',
 '6 to 8',
 '2 to 7',
 '0 to 5',
 '2 to 5',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '2 to 6',
 '1 to 5',
 '3 to 10',
 '12 to 15',
 '8 to 10',
 '5 to 8',
 '12 to 15',
 '3 to 8',
 '2 to 4',
 '8 to 10',
 '8 to 10',
 '0 to 1',
 '0 to 4',
 '4 to 8',
 '3 to 8',
 '3 to 8',
 '1 to 2',
 '0 to 4',
 '3 to 5',
 '8 to 10',
 '8 to 10',
 '4 to 6',
 '8 to 10',
 '4 to 6',
 '2 to 5',
 '1 to 3',
 '2 to 4',
 '4 to 6',
 '4 to 6',
 '2 to 4',
 '2 to 4',
 '6 to 8',
 '6 to 8',
 '12 to 15',
 '10 to 14',
 '7 to 10',
 '8 to 10',
 '5 to 7',
 '1 to 3',
 '7 to 9',
 '3 to 6',
 '6 to 8',
 '1 to 3',
 '3 to 8',
 '5 to 10',
 '10 to 13',
 '4 to 9',
 '7 to 12',
 '0 to 1',
 '1 to 4',
 '6 to 8',
 '5 to 10',
 '5 to 10',
 '2 to 3',
 '7 to 8',
 '0 to 2',
 '5 to 8',
 '6 to 13',
 '2 to 5',
 '0 to 2',
 '0 to 2',
 '0 to 2',
 '2 to 4',
 '1 to 3',
 '8 to 12',
 '10 to 15',
 '0 to 4',
 '2 to 3',
 '0 to 4',
 '0 to 4',
 '5 to 10',
 '3 to 5',
 '3 to 6',
 '3 to 6',
 '4 to 6',
 '1 to 3',
 '2 to 4',
 '3 to 5',
 '0 to 2',
 '2 to 9',
 '4 to 15',
 '6 to 10',
 '6 to 10',
 '6 to 10',
 '6 to 10',
 '6 to 10',
 '6 to 10',
 '6 to 10',
 '6 to 10',
 '6 to 10',
 '2 to 8',
 '8 to 12',
 '12 to 18',
 '2 to 6',
 '14 to 16',
 '2 to 7',
 '12 to 14',
 '3 to 5',
 '5 to 7',
 '3 to 8',
 '0 to 2',
 '3 to 8',
 '0 to 4',
 '0 to 4',
 '6 to 8',
 '0 to 4',
 '4 to 6',
 '0 to 4',
 '8 to 12',
 '0 to 1',
 '4 to 6',
 '0 to 8',
 '5 to 8',
 '0 to 4',
 '0 to 4',
 '15 to 17',
 '12 to 15',
 '4 to 6',
 '2 to 6',
 '4 to 6',
 '1 to 8',
 '6 to 11',
 '6 to 11',
 '6 to 11',
 '6 to 11',
 '6 to 11',
 '6 to 11',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '3 to 6',
 '2 to 3',
 '2 to 4',
 '0 to 4',
 '8 to 12',
 '1 to 3',
 '18 to 20',
 '12 to 14',
 '3 to 4',
 '1 to 3',
 '3 to 4',
 '6 to 8',
 '4 to 6',
 '0 to 4',
 '5 to 10',
 '4 to 10',
 '4 to 6',
 '6 to 8',
 '8 to 10',
 '8 to 10',
 '5 to 8',
 '8 to 9',
 '0 to 4',
 '4 to 8',
 '2 to 5',
 '3 to 5',
 '3 to 5',
 '2 to 5',
 '3 to 5',
 '13 to 18',
 '0 to 4',
 '2 to 4',
 '4 to 6',
 '6 to 8',
 '4 to 6',
 '6 to 8',
 '3 to 5',
 '3 to 5',
 '4 to 8',
 '6 to 8',
 '4 to 6',
 '8 to 10',
 '5 to 7',
 '0 to 4',
 '3 to 15',
 '7 to 11',
 '12 to 15',
 '2 to 4',
 '3 to 4',
 '2 to 5',
 '4 to 6',
 '6 to 8',
 '4 to 6',
 '6 to 8',
 '12 to 14',
 '3 to 5',
 '10 to 12',
 '8 to 10',
 '8 to 10',
 '2 to 18',
 '2 to 4',
 '3 to 5',
 '0 to 4',
 '6 to 8',
 '3 to 7',
 '0 to 4',
 '1 to 3',
 '4 to 7',
 '5 to 10',
 '4 to 5',
 '1 to 3',
 '4 to 5',
 '2 to 7',
 '12 to 14',
 '0 to 4',
 '0 to 4',
 '7 to 10',
 '5 to 10',
 '5 to 7',
 '5 to 7',
 '5 to 10',
 '5 to 7',
 '4 to 6',
 '3 to 5',
 '3 to 6',
 '0 to 4',
 '5 to 7',
 '5 to 7',
 '4 to 6',
 '5 to 7',
 '0 to 1',
 '0 to 2',
 '0 to 2',
 '0 to 2',
 '2 to 10',
 '2 to 6',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '2 to 4',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 4',
 '3 to 6',
 '8 to 10',
 '4 to 6',
 '5 to 7',
 '4 to 6',
 '2 to 6',
 '2 to 4',
 '2 to 4',
 '10 to 15',
 '8 to 12',
 '3 to 5',
 '5 to 7',
 '4 to 6',
 '2 to 7',
 '8 to 10',
 '4 to 10',
 '4 to 7',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '7 to 10',
 '7 to 9',
 '10 to 17',
 '5 to 11',
 '7 to 9',
 '3 to 6',
 '5 to 7',
 '5 to 8',
 '12 to 22',
 '6 to 10',
 '0 to 4',
 '6 to 9',
 '8 to 10',
 '8 to 10',
 '5 to 10',
 '12 to 15',
 '2 to 7',
 '3 to 6',
 '1 to 2',
 '5 to 10',
 '5 to 10',
 '6 to 10',
 '8 to 10',
 '7 to 9',
 '4 to 7',
 '5 to 7',
 '5 to 8',
 '15 to 17',
 '9 to 11',
 '1 to 3',
 '5 to 7',
 '5 to 7',
 '3 to 5',
 '6 to 8',
 '8 to 12',
 '2 to 8',
 '3 to 4',
 '6 to 8',
 '1 to 3',
 '12 to 14',
 '3 to 5',
 '0 to 4',
 '3 to 5',
 '4 to 6',
 '10 to 12',
 '2 to 4',
 '3 to 5',
 '2 to 4',
 '2 to 15',
 '6 to 8',
 '8 to 10',
 '6 to 8',
 '3 to 4',
 '4 to 6',
 '2 to 4',
 '0 to 4',
 '2 to 9',
 '2 to 4',
 '3 to 6',
 '2 to 5',
 '10 to 13',
 '7 to 12',
 '0 to 2',
 '7 to 10',
 '4 to 9',
 '6 to 8',
 '12 to 15',
 '3 to 5',
 '1 to 2',
 '2 to 3',
 '6 to 8',
 '2 to 6',
 '2 to 8',
 '3 to 5',
 '2 to 4',
 '7 to 12',
 '1 to 4',
 '8 to 10',
 '7 to 11',
 '6 to 8',
 '4 to 6',
 '3 to 12',
 '0 to 2',
 '2 to 6',
 '6 to 8',
 '4 to 6',
 '4 to 6',
 '4 to 6',
 '2 to 3',
 '4 to 6',
 '8 to 10',
 '4 to 6',
 '6 to 8',
 '8 to 10',
 '8 to 10',
 '1 to 10',
 '1 to 3',
 '1 to 3',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '2 to 4',
 '0 to 1',
 '2 to 4',
 '0 to 1',
 '2 to 4',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 1',
 '0 to 4',
 '3 to 5',
 '3 to 5',
 '2 to 5',
 '1 to 6',
 '8 to 12',
 '2 to 4',
 '5 to 9',
 '0 to 4',
 '0 to 4',
 '3 to 5',
 '2 to 4',
 '7 to 9',
 '1 to 3',
 '5 to 7',
 '0 to 2',
 '10 to 12',
 '5 to 8',
 '3 to 5',
 '3 to 7',
 '2 to 4',
 '4 to 5',
 '7 to 9',
 '5 to 7',
 '2 to 6',
 '5 to 7',
 '5 to 7',
 '5 to 7',
 '5 to 8',
 '8 to 10',
 '2 to 4',
 '5 to 7',
 '3 to 5',
 '3 to 5',
 '2 to 4',
 '4 to 6',
 '4 to 6',
 '10 to 12',
 '1 to 3',
 '7 to 10',
 '6 to 12',
 '7 to 10',
 '2 to 12',
 '2 to 5',
 '0 to 2',
 '4 to 6',
 '0 to 4',
 '7 to 9',
 '4 to 9',
 '4 to 6',
 '4 to 6',
 '0 to 4',
 '5 to 10',
 '0 to 4',
 '0 to 4',
 '4 to 8',
 '2 to 4',
 '0 to 4',
 '7 to 9',
 '7 to 9',
 '0 to 4',
 '0 to 4',
 '5 to 10',
 '0 to 4',
 '0 to 4',
 '5 to 7',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '5 to 6',
 '8 to 10',
 '4 to 5',
 '7 to 9',
 '3 to 6',
 '3 to 5',
 '4 to 5',
 '0 to 4',
 '5 to 7',
 '3 to 6',
 '2 to 6',
 '5 to 9',
 '0 to 4',
 '0 to 4',
 '5 to 7',
 '8 to 13',
 '3 to 11',
 '3 to 8',
 '3 to 16',
 '7 to 11',
 '4 to 6',
 '3 to 5',
 '7 to 10',
 '0 to 4',
 '0 to 4',
 '5 to 7',
 '5 to 8',
 '1 to 3',
 '3 to 5',
 '2 to 4',
 '5 to 7',
 '2 to 4',
 '1 to 3',
 '3 to 5',
 '0 to 4',
 '0 to 4',
 '0 to 4',
 '1 to 2',
 '6 to 8',
 '3 to 5',
 '5 to 7',
 '0 to 4',
 '8 to 10',
 '2 to 3',
 '5 to 7',
 '0 to 4',
 '0 to 4',
 '8 to 10',
 '7 to 9',
 '4 to 7',
 '0 to 4',
 '0 to 4',
 '8 to 10',
 '2 to 7',
 '2 to 8',
 '1 to 7',
 '3 to 5',
 '7 to 10',
 '5 to 7',
 '1 to 5',
 '3 to 6',
 '4 to 6',
 '4 to 6',
 '8 to 10',
 '6',
 '8 to 10',
 '4 to 6',
 '4 to 6',
 '3 to 6',
 '3 to 6',
 '6 to 8',
 '5 to 9',
 '7 to 12',
 '5 to 7',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '0 to 3',
 '4 to 9',
 '5 to 10',
 '1 to 3',
 '0 to 2',
 '0 to 1']

In [82]:
# Creating a new list for job experience that contains only one value

new_experience_list = []   # Creating a new list to store the 0th index of the string as experience

for e in experience_list:
  new_experience_list.append(e[0])   # Adding the initial experience value (0th Index) to the list

# Print all the 0th Index of job experience requried
new_experience_list

['3',
 '3',
 '0',
 '2',
 '2',
 '0',
 '0',
 '3',
 '5',
 '3',
 '0',
 '0',
 '7',
 '0',
 '0',
 '1',
 '3',
 '4',
 '0',
 '0',
 '0',
 '2',
 '0',
 '6',
 '1',
 '3',
 '0',
 '3',
 '5',
 '4',
 '6',
 '8',
 '7',
 '8',
 '0',
 '5',
 '5',
 '2',
 '8',
 '0',
 '1',
 '0',
 '0',
 '7',
 '5',
 '0',
 '0',
 '0',
 '5',
 '8',
 '5',
 '5',
 '6',
 '1',
 '7',
 '2',
 '4',
 '3',
 '4',
 '4',
 '1',
 '5',
 '1',
 '2',
 '4',
 '3',
 '1',
 '6',
 '1',
 '3',
 '5',
 '7',
 '0',
 '0',
 '3',
 '0',
 '3',
 '0',
 '5',
 '3',
 '4',
 '5',
 '2',
 '3',
 '0',
 '6',
 '6',
 '6',
 '5',
 '2',
 '2',
 '2',
 '2',
 '2',
 '5',
 '0',
 '0',
 '0',
 '2',
 '5',
 '0',
 '8',
 '0',
 '0',
 '5',
 '5',
 '3',
 '6',
 '6',
 '6',
 '6',
 '6',
 '3',
 '3',
 '2',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '0',
 '0',
 '3',
 '0',
 '3',
 '3',
 '3',
 '0',
 '0',
 '5',
 '3',
 '3',
 '3',
 '4',
 '2',
 '3',
 '3',
 '5',
 '0',
 '0',
 '0',
 '7',
 '8',
 '3',
 '1',
 '2',
 '0',
 '5',
 '3',
 '0',
 '4',
 '3',
 '7',
 '8',
 '0',
 '5',
 '5',
 '3',
 '2',
 '0',
 '0',
 '3',
 '3',
 '4',
 '2',
 '3',
 '3',
 '0',
 '0',
 '0',
 '1',
 '3',
 '4',
 '5',
 '0',
 '0',
 '0',
 '5',
 '5',
 '7',
 '5',
 '5',
 '3',
 '0',
 '0',
 '0',
 '3',
 '5',
 '6',
 '2',
 '6',
 '6',
 '7',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '5',
 '2',
 '3',
 '3',
 '3',
 '7',
 '0',
 '3',
 '2',
 '0',
 '0',
 '3',
 '2',
 '7',
 '3',
 '2',
 '0',
 '2',
 '2',
 '4',
 '1',
 '3',
 '0',
 '0',
 '0',
 '0',
 '2',
 '1',
 '2',
 '4',
 '5',
 '1',
 '0',
 '0',
 '5',
 '5',
 '4',
 '1',
 '4',
 '5',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '0',
 '8',
 '3',
 '2',
 '5',
 '1',
 '4',
 '3',
 '1',
 '1',
 '7',
 '3',
 '3',
 '1',
 '0',
 '5',
 '3',
 '7',
 '0',
 '8',
 '3',
 '3',
 '3',
 '1',
 '5',
 '2',
 '2',
 '7',
 '7',
 '1',
 '4',
 '2',
 '1',
 '1',
 '2',
 '4',
 '4',
 '3',
 '3',
 '4',
 '6',
 '7',
 '1',
 '1',
 '4',
 '4',
 '3',
 '2',
 '3',
 '3',
 '4',
 '6',
 '4',
 '0',
 '6',
 '2',
 '1',
 '2',
 '0',
 '0',
 '2',
 '5',
 '2',
 '1',
 '7',
 '2',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '3',
 '6',
 '1',
 '8',
 '6',
 '5',
 '8',
 '8',
 '2',
 '4',
 '8',
 '2',
 '1',
 '8',
 '2',
 '4',
 '1',
 '6',
 '4',
 '4',
 '6',
 '1',
 '0',
 '6',
 '8',
 '6',
 '3',
 '1',
 '5',
 '2',
 '1',
 '2',
 '8',
 '4',
 '4',
 '3',
 '4',
 '7',
 '3',
 '3',
 '3',
 '2',
 '1',
 '6',
 '0',
 '4',
 '0',
 '2',
 '3',
 '3',
 '2',
 '1',
 '0',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '6',
 '2',
 '2',
 '0',
 '0',
 '4',
 '0',
 '4',
 '7',
 '7',
 '2',
 '3',
 '5',
 '5',
 '1',
 '3',
 '2',
 '5',
 '7',
 '2',
 '4',
 '3',
 '1',
 '3',
 '6',
 '5',
 '0',
 '0',
 '0',
 '0',
 '2',
 '2',
 '2',
 '2',
 '2',
 '6',
 '6',
 '2',
 '0',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '3',
 '1',
 '8',
 '5',
 '1',
 '3',
 '2',
 '8',
 '8',
 '0',
 '0',
 '4',
 '3',
 '3',
 '1',
 '0',
 '3',
 '8',
 '8',
 '4',
 '8',
 '4',
 '2',
 '1',
 '2',
 '4',
 '4',
 '2',
 '2',
 '6',
 '6',
 '1',
 '1',
 '7',
 '8',
 '5',
 '1',
 '7',
 '3',
 '6',
 '1',
 '3',
 '5',
 '1',
 '4',
 '7',
 '0',
 '1',
 '6',
 '5',
 '5',
 '2',
 '7',
 '0',
 '5',
 '6',
 '2',
 '0',
 '0',
 '0',
 '2',
 '1',
 '8',
 '1',
 '0',
 '2',
 '0',
 '0',
 '5',
 '3',
 '3',
 '3',
 '4',
 '1',
 '2',
 '3',
 '0',
 '2',
 '4',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '2',
 '8',
 '1',
 '2',
 '1',
 '2',
 '1',
 '3',
 '5',
 '3',
 '0',
 '3',
 '0',
 '0',
 '6',
 '0',
 '4',
 '0',
 '8',
 '0',
 '4',
 '0',
 '5',
 '0',
 '0',
 '1',
 '1',
 '4',
 '2',
 '4',
 '1',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 '0',
 '8',
 '1',
 '1',
 '1',
 '3',
 '1',
 '3',
 '6',
 '4',
 '0',
 '5',
 '4',
 '4',
 '6',
 '8',
 '8',
 '5',
 '8',
 '0',
 '4',
 '2',
 '3',
 '3',
 '2',
 '3',
 '1',
 '0',
 '2',
 '4',
 '6',
 '4',
 '6',
 '3',
 '3',
 '4',
 '6',
 '4',
 '8',
 '5',
 '0',
 '3',
 '7',
 '1',
 '2',
 '3',
 '2',
 '4',
 '6',
 '4',
 '6',
 '1',
 '3',
 '1',
 '8',
 '8',
 '2',
 '2',
 '3',
 '0',
 '6',
 '3',
 '0',
 '1',
 '4',
 '5',
 '4',
 '1',
 '4',
 '2',
 '1',
 '0',
 '0',
 '7',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '3',
 '3',
 '0',
 '5',
 '5',
 '4',
 '5',
 '0',
 '0',
 '0',
 '0',
 '2',
 '2',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '2',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '8',
 '4',
 '5',
 '4',
 '2',
 '2',
 '2',
 '1',
 '8',
 '3',
 '5',
 '4',
 '2',
 '8',
 '4',
 '4',
 '0',
 '0',
 '0',
 '0',
 '7',
 '7',
 '1',
 '5',
 '7',
 '3',
 '5',
 '5',
 '1',
 '6',
 '0',
 '6',
 '8',
 '8',
 '5',
 '1',
 '2',
 '3',
 '1',
 '5',
 '5',
 '6',
 '8',
 '7',
 '4',
 '5',
 '5',
 '1',
 '9',
 '1',
 '5',
 '5',
 '3',
 '6',
 '8',
 '2',
 '3',
 '6',
 '1',
 '1',
 '3',
 '0',
 '3',
 '4',
 '1',
 '2',
 '3',
 '2',
 '2',
 '6',
 '8',
 '6',
 '3',
 '4',
 '2',
 '0',
 '2',
 '2',
 '3',
 '2',
 '1',
 '7',
 '0',
 '7',
 '4',
 '6',
 '1',
 '3',
 '1',
 '2',
 '6',
 '2',
 '2',
 '3',
 '2',
 '7',
 '1',
 '8',
 '7',
 '6',
 '4',
 '3',
 '0',
 '2',
 '6',
 '4',
 '4',
 '4',
 '2',
 '4',
 '8',
 '4',
 '6',
 '8',
 '8',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '2',
 '0',
 '2',
 '0',
 '2',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '3',
 '2',
 '1',
 '8',
 '2',
 '5',
 '0',
 '0',
 '3',
 '2',
 '7',
 '1',
 '5',
 '0',
 '1',
 '5',
 '3',
 '3',
 '2',
 '4',
 '7',
 '5',
 '2',
 '5',
 '5',
 '5',
 '5',
 '8',
 '2',
 '5',
 '3',
 '3',
 '2',
 '4',
 '4',
 '1',
 '1',
 '7',
 '6',
 '7',
 '2',
 '2',
 '0',
 '4',
 '0',
 '7',
 '4',
 '4',
 '4',
 '0',
 '5',
 '0',
 '0',
 '4',
 '2',
 '0',
 '7',
 '7',
 '0',
 '0',
 '5',
 '0',
 '0',
 '5',
 '0',
 '0',
 '0',
 '5',
 '8',
 '4',
 '7',
 '3',
 '3',
 '4',
 '0',
 '5',
 '3',
 '2',
 '5',
 '0',
 '0',
 '5',
 '8',
 '3',
 '3',
 '3',
 '7',
 '4',
 '3',
 '7',
 '0',
 '0',
 '5',
 '5',
 '1',
 '3',
 '2',
 '5',
 '2',
 '1',
 '3',
 '0',
 '0',
 '0',
 '1',
 '6',
 '3',
 '5',
 '0',
 '8',
 '2',
 '5',
 '0',
 '0',
 '8',
 '7',
 '4',
 '0',
 '0',
 '8',
 '2',
 '2',
 '1',
 '3',
 '7',
 '5',
 '1',
 '3',
 '4',
 '4',
 '8',
 '6',
 '8',
 '4',
 '4',
 '3',
 '3',
 '6',
 '5',
 '7',
 '5',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '4',
 '5',
 '1',
 '0',
 '0']

***Job Vacancies***

In [83]:
# Finding Number of vacancies available from each page

vacancies_list = []   # Empty list for storing all the vacancies related data

for i in soup_list:

  # Obtaining the HTML data from the class where the no. of vacancies data is present
  req4 = soup.find_all('ul', class_='jobCard_jobCard_jobDetail__jD82J')

  # Getting the text from the HTML
  vacancies = [r.text for r in req4 ]

  # Cleaning up the data using regex
  vacancies = [int(re.findall(r'\d+', v)[0]) if re.findall(r'\d+', v) else 1 for v in vacancies]

  # Adding the no. of vacancies to the list for each job positing
  vacancies_list.append(vacancies)

# Flatten List using sum() function
vacancies_list = sum(vacancies_list, [])

# Print all the job vacancies available
vacancies_list

[1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12,
 1,
 99,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 8,
 12]

In [43]:
# Let's put together all the data extracted from HTML into main DATAFRAME

job_data = {'Titles': titles_list, 'Company Name': company_list, 'Job Location': location_list, 'Experience (in range)': experience_list, 'Total Vacancies': vacancies_list, 'Experience': new_experience_list}

df = pd.DataFrame(job_data)   # Pandas Dataframe

In [44]:
df

,Titles,Company Name,Job Location,Experience (in range),Total Vacancies,Experience
0,Data Scientist,MNR Solutions Pvt Ltd,All India,3 to 6,1,3
1,Data Scientist,EXPONUS TRADELINK PRIVATE LIMITED,All India,3 to 6,99,3
2,Data Science,CORPORATE STEPS..,Bangalore,0 to 2,1,0
3,for__Data ScientistMumbai,Alpine Manpower Services,Mumbai,2 to 7,1,2
4,Required for _Data ScientistMumbai,Alpine Manpower Services,Mumbai,2 to 7,1,2
...,...,...,...,...,...,...
975,Sr Analyst,Merck Ltd,Bangalore,4 to 9,1,4
976,DBT Lead With Python and SnowFlake Bangalore,Clyent Technologies,Bangalore,5 to 10,10,5
977,Associate Clinical Supply Services,Merck Ltd,Bangalore,1 to 3,1,1
978,Hiring for data analyst- Chennai,MNR Solutions Pvt Ltd,Chennai,0 to 2,8,0
979,C sharp Developer,QUISCON BIOTECH,All India,0 to 1,12,0

## ***2. Data Wrangling***

In [46]:
# Dataset First Look
# First 5 rows of the dataset

df.head()

,Titles,Company Name,Job Location,Experience (in range),Total Vacancies,Experience
0,Data Scientist,MNR Solutions Pvt Ltd,All India,3 to 6,1,3
1,Data Scientist,EXPONUS TRADELINK PRIVATE LIMITED,All India,3 to 6,99,3
2,Data Science,CORPORATE STEPS..,Bangalore,0 to 2,1,0
3,for__Data ScientistMumbai,Alpine Manpower Services,Mumbai,2 to 7,1,2
4,Required for _Data ScientistMumbai,Alpine Manpower Services,Mumbai,2 to 7,1,2

In [47]:
# Dataset Rows & Columns count

print(df.shape)
print(f"Total number of Rows: {len(df)}")
print(f"Total number of Columns: {len(df.columns)}")

(980, 6)
Total number of Rows: 980
Total number of Columns: 6

In [48]:
# Dataset Info
# First hand info about dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Titles                 980 non-null    object
 1   Company Name           980 non-null    object
 2   Job Location           980 non-null    object
 3   Experience (in range)  980 non-null    object
 4   Total Vacancies        980 non-null    int64
 5   Experience             980 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.1+ KB

In [49]:
# Dataset Columns
# List of columns in the data frame

df.columns

Index(['Titles', 'Company Name', 'Job Location', 'Experience (in range)',
       'Total Vacancies', 'Experience'],
      dtype='object')

In [51]:
# Check unique values for each variable (columns)

print("Number of uniques values for each column is:\n")
for i in df.columns.tolist():
  print(f"{i} ({df[i].nunique()}) : {df[i].unique()}\n")

Number of uniques values for each column is:

Titles (706) : ['Data Scientist ' 'Data Science' ' for__Data ScientistMumbai'
 'Required for _Data ScientistMumbai' 'Data Scientist Recruitment'
 'Data Scientist' 'Senior Data Scientist' 'Data Scientist Lead'
 'Gen AI- Developer' 'Data Scientist Artificial Intelligence'
 'Data Scientist Vacancy' 'Profile for_Data Science Consultant'
 'Senior Consultant/Principal - Business Consulting (AILA ...'
 'Hiring For Data Scientist' 'Data Scientist (ML/AI) Pune'
 'Data scientistDrivetrain' 'Machine Learning Engineer' 'Research Manager'
 'Engineer II - Data scientist' 'Asset Management Marketing Intelligence'
 'Technical Product Owner- Data warehousing ,data visuali ...'
 'Business Processes Consultant- AI/ML (Data Services/Int ...'
 'Product Data Science Manager, People Analytics'
 'Diagnostic Data Engineer for a Leading Automotive Compa ...'
 'Associate Sr. - Data Analytics'
 'Associate, Associate Data Manager, Clinical Data Scienc ...'
 'Senior Data Scientist- ML Engineer' 'Social Media Analyst'
 'Omnichannel Data Assurance QA Lead for a Leading MNC in ...'
 'Manager, Data Scientist'
 'Lead Consultant -Cloud Data Engineer (Snowflake) for a...'
 'Power Programmer - Specialist Programmer Data Engineeri ...'
 'Sr Data Platform Engineer - Python /GCP/Snowflake | 10+ ...'
 'SR. DATA SCIENTIST' 'DATA SCIENTIST I' 'Lead Software Engineer'
 'Senior Associate, Principal Statistical Data Scientist'
 'GCP Data Engineer' 'Data Engineering Software Development Engineer'
 'Associate Divisional Manager Data Scientist Chennai'
 'Hire DATA SCIENTIST- MIS EXECUTIVE'
 'AWS Data Engineer for a leading MNC in Bangalore'
 'Data ScientistMIS Executive' 'Need Data Scientist MIS Executive'
 'ICETS -PYTHON (AI/ML) Q3 -2023' 'Data Scientist - Spark/Python/Redshift'
 'Data ScientistMumbai' 'Data Engineer' 'AI, ML TECHNICAL ARCHITECT'
 'Looking for TECHNICAL SPECIALIST AI, ML'
 'Vacant for AI Technical Engineer' 'Hirefor_ Manager-Data Annotation'
 'Java8, Kafka Streams, Machine Learning, AI Developer'
 'CORE PYTHON DEVELOPMENT ENGINEER / PYTHON EXPERT'
 'Data Scientist Hiring Fresher and Experience'
 'Hiring for Data Scientist - mumbai'
 'Position for_ Computer Vision Engineer' 'Data Scientist Bangalore'
 'Hirefor_ Fullstack Python Developer' 'Hirefor_ Full-Stack Engineer'
 'Data Scientist (ML/AI)'
 'Hiring for _GCP Data Engineer/Data Lead-Chennai'
 'Hiring for _GCP Data Engineer/Data Lead-Delhi'
 'Hire for _GCP Data Engineer/Data Lead-Delhi'
 'Hire Posted for _ Machine LearningEngineer'
 'Requirement for _ Python/Django Developer'
 'Hire Posted for _Python/Django Developer' 'Data Analyst'
 'Requirement for _ Django Developer'
 'Hire Posted for _ Python/Django Developer' 'Hire forQA Data Engineer'
 'Data Engineer Vacancy' 'Hirefor_ Python/Django Developer'
 'Senior Manager - Visual Analytics Lead' 'Data analyst / Data scientist'
 'Hire Post for Artificial Intelligence Researcher'
 'Hirefor_ Artificial Intelligence Researcher'
 'Posted for _GCP Data Engineer/Data Lead-Bangalore'
 'Posted for _GCP Data Engineer/Data Lead-Hyderabad'
 'Hire _GCP Data Engineer/Data Lead-Hyderabad'
 'Hire _GCP Data Engineer/Data Lead-Mumbai'
 'Data Warehouse _ Manager For bangalore' 'Data Warehouse_Manager'
 'Leadership Role - Data & Platform Engineering (Leading...'
 'Data Modeler _Bangalore' 'Python Lead' 'Hiring for Data Science'
 'Hire _GCP Data Engineer/Lead/Architect- Mumbai'
 'Hire _GCP Data Engineer/Lead/Architect- Hyderabad'
 'Hiring _GCP Data Engineer/Lead/Architect- Bangalore'
 'Hiring _GCP Data Engineer/Lead/Architect- Chennai'
 ' for _GCP Data Engineer/Lead/Architect- Chennai'
 'GCP Data Engineer/Lead/Architect- Pune'
 'GCP Data Engineer/Lead/Architect- Mumbai' 'Data Analyst Recruitment'
 'Hiring for-Data Modeler - Bangalore' ' for Data Modeler _Bangalore'
 'Data Scientist - Business Intelligence'
 'Data Scientist - Machine Learning' 'Hiring ForData Engineer'
 'Academic Counsellor - Mumbai' 'Analyst - Business Consulting (SURE)'
 'Analyst - Business Consulting (CMT)'
 'Sr Consultant/Principal - Business Consulting (CMT)'
 'Consultant - Business Consulting (CMT)' 'Principal Data EngineerMumbai'
 'Data Engineer (BI)' 'Consultant - Business Consulting (Life Sciences)'
 'Analyst - Business Consulting (Life Sciences)'
 'SubcontractOpening - Azure Data Engineer' 'Data Bricks Data Engineer'
 'Data Modeler' 'Hiring for Data Engineer - Bangalore'
 'Software Engineer Vacancy' 'Analytics - Risk Analyst'
 'ANALYTICS DATA SCIENCE LEAD - AHMEDABAD -id35388'
 'Hiring for__Data Science' 'Software Senior Engineer'
 'Reconciliation-Deputy Manager' 'Data Science for kochi'
 'Infrastructure Specialist AWS Platform' 'Azure Data Engineer for PUNE'
 'Software Development Specialist'
 'Head Data EngineeringMumbaiupto 50L CTC7+yrs Exp'
 ' for_ Azure Data Engineer - Pune'
 'Hiring for _ Azure Data Engineer - Pune'
 'ASSOCIATE -CREDIT RISK DATA CONTROL(CRDC)-CREDIT RISK D ...'
 'Hiring For Software Engineer'
 'Data Engineer II, Amazon WFM Tech Enterprise Data' 'Associate Director'
 'Data Engineering Quality Engineer (Tester)'
 'ANI-Data & Analytics Current Assessment-Senior Associat ...'
 'GCP Data Engineer- Mumbai' 'GCP Data Engineer- Pune'
 'Hiring for _GCP Data Engineer/Lead- Hyderabad'
 'Hiring for _GCP Data Engineer/Lead- Bangalore'
 ' for _GCP Data Engineer/Lead- Bangalore'
 ' for _GCP Data Engineer/Lead- Chennai'
 'Position for _GCP Data Engineer/Lead- Delhi'
 'Data ScientistManagement Consulting - Mumbai' 'Investment Analyst'
 'Data Engineer/data Science Consultant' 'Manager-Data Annotation'
 'Big Data Developer' 'Data engineer Bangalore' 'HR Intern - mumbai'
 'Chatbot programmer' 'Position Require for Data Engineer'
 'Python/Django Developer in noida'
 'Senior S4 HANA Data Analyst for a Leading MNC in Chenna ...'
 'Python/Django Developer in delhi'
 'Data Analyst , Senior Data Analyst , Data Analyst - Tec ...'
 'Python/Django DeveloperNoida'
 'Profile for_Business Analyst-- Sharepoint'
 'Data Science Strategic Analytics- Associate' 'Full-Stack Engineer'
 'Hiring For Data Analyst' 'Python Developer' 'Fullstack Python Developer'
 'We need for Python Data Engineer' 'Python/Django DeveloperGurugram'
 'Manager - Decision Sciences' 'Immediate Need for Data Analysis'
 'Associate Software Engineer - Java Developer'
 'Senior Consultant - Business Consulting (Life Sciences) ...'
 'Data Quality/Automation Analyst - Team Leader'
 'Firewall Architecture Security Architect' 'Data Centre Engineer'
 'Machine Learning Research Engineer' 'Python/Django DeveloperPune'
 'Python/Django DeveloperMumbai' 'Python/Django DeveloperKolkata'
 'Python/Django DeveloperHyderabad' 'Python/Django DeveloperDelhi'
 'Python/Django DeveloperChennai' 'Software Engineer'
 'Lead Data Scientist' 'Hadoop Administrator - Cluster Management'
 'Microstrategy_Consultant - BI Solutions' 'Data engineer'
 'AI Data Validator, OPTIMA - Alexa Shopping'
 'Senior Machine Learning Engineer' 'Assistant -Data Science Engineer'
 'Sales Associate' 'SAP Data Quality Management DQM Application Developer'
 'Package Consultant SAP HANA Basis'
 'Hiring for Chatbot development with LTImindree.' 'Platform Engineer'
 'Student Counsellor' 'DATA ENGINEER'
 'Senior Associate- Data Owner (Card Lending)'
 'Content Reviewer Bangalore'
 'CN - Strategy - MC - Banking - Data AI - 09'
 'Remote_Data Entry Specialists' 'Senior Data Analyst'
 'Data Analyst For iron ore manufacturing unit' 'Big Data Analyst_chennai'
 'APPLY for the Data Management' 'Deputy Manager / Manager'
 'Senior Data Engineer' 'Project Management Office-Technical Assistant'
 'SENIOR AI ENGINEER' 'AI Prompt Engineer - Mumbai & Kolkata - MNC'
 'AI - Prompt Engineer - MNC' 'Big Data Analyst __ chennai'
 ' for _GCP Data Engineer/Lead/Architect- Delhi'
 'Immediate Opening for Manager-Remote Support'
 'Applied vacant for Design Robusntness Expert' 'Data Engineer vacancy'
 'AWS Data Engineer/Developer' 'Lead Analytics Consultant - BFSI'
 'Hiring for MIS-Data Analyst-Gurgaon Location' 'Hiring For Data Engineer'
 'Project Coordinator (Data analyst) Bangalore'
 'Sr. Quality Analyst, Prime Video' 'Quality Analyst, Prime Video'
 'Analytics and Modeling Analyst'
 'Associate Medical Data Review Manager (For Mecidal & He ...'
 'Snowflake Data Warehouse Data Platform Engineer'
 'Databricks Unified Data Analytics Platform Data Platfor ...'
 'Senior Software Engineer (.Net Developer)'
 'SAP Master Data Governance MDG Tool Application Develop ...'
 'Siebel EIM' 'Product Tech, Solution Architect, MPT'
 'Lead Python Engineer (Intersection role of Data Science ...'
 'Golang Developer' 'Microsoft SQL Server Application Developer'
 'SAP Master Data Governance for Financial Data (MDG-F To ...'
 'Snowflake Data Warehouse Application Lead'
 'CN - Strategy - MC - Travel - 07' 'Apache Spark Application Developer'
 'Microsoft Azure Analytics Services Application Develope ...'
 'Microsoft Azure Analytics Services Application Lead'
 'RSA Archer Platform Administration Security Architect'
 'SAP CO Product Cost Controlling Application Developer'
 'SAP TM Transportation Management Application Developer'
 'Software Engineering Technical Leader - Java or Python/ ...'
 'Software Development Senior Specialist'
 'Data Engineering Application Developer' 'Software Development Advisor'
 'Prod Mgmt Engineering Lead Consultant'
 'Prod Mgmt Engineering Senior Consultant'
 'Sys. Integration Sr. Specialist Advisor'
 'Enterprise Resource Planning Advisor'
 'Vice President - Portfolio Risk(Wealth Management Risk...'
 'Performance Testing Strategy Performance Engineer'
 'Pharmacovigilance Services Analyst - Foreign Language'
 'BGSW SAP MDG Sr. Consultant'
 'Java with Microservices - 3 to 8 years - Bangalore'
 'Software Engineer - Platform, Embedded/ C++/C Driver/Ke ...'
 'India Market Unit - Data Engineering - 09'
 'SAS Data Integration Technology Platform Engineer'
 'SAP Master Data Governance MDG Tool Application Support ...'
 'Senior Data engineer Gurugram' 'Business Analyst- Reinsurance'
 'Data Analyst - Java/Python'
 'Business Intelligence / Data Visualization DeveloperD ...'
 'Process Lead' 'Python/Django Developer in pune'
 'Python/Django Developer in Ahmedabad' 'Power BI Developer'
 'Mainframe DB2 DBA'
 'Senior Consultant - Business Consulting (GRC) Q3FY24'
 'Oracle EBS Technical Developer' 'Java Developer Q3 FY 24 (CMTDCG)'
 'Profile for_MS Power BI Professional'
 'Power BI Specialist - Data Modeling' 'Senior Data Engineer Gurugram'
 'Position for_ Platform Engineer' 'Power Bi_Developer'
 'Business Intelligence Engineer (Developer) - Fintech Co ...'
 'Data Scientist - (BERT, NLP), Kubeflow (or) ML Ops'
 'Python/Django Developer Bangalore' 'Data Engineer Backfill'
 'MS Power BI Professional - Chennai' 'Business Analyst'
 'Senior Principal Data Engineer' 'Hirefor_ Power Bi Developer'
 'Data entry clerks' 'Senior Developer/ Team Lead-Qlikview'
 'SAP PP/QM Consultant' 'SAP Successfactor Consultant'
 'Digital Marketing Analyst' 'SAP HCM Payroll Consultant' 'IT Testing'
 'INDD Cloud, Storage & Security' 'Infrastructure Services Consultant'
 'SAP Master Data Governance MDG Tool Application Lead'
 'Specialist, Technical Professional Services'
 'Analytics Senior Analyst - Marketing and Customer Analy ...'
 'Lead Consultant - Snowflake Enterprise Platform Admin f ...'
 'SAP CO Management Accounting Application Designer'
 'GN - SC&O - S&P - Procurement Transformation - Consulta ...'
 'GN - SC&O - S&P - Business Solutions - Manager'
 'Informatica Intelligent Cloud Services Data Platform En ...'
 'Cloud Support Associate'
 'HR Leader - ISCM (Manufacturing, HSE, Support Functions ...'
 'Security Information and Event Management (SIEM) Operat ...'
 'Google Kubernetes Engine Cloud Migration Engineer'
 'Data Science Strategic Analytics-Associate' 'AI Full Stack Developer'
 'Quality & Performance Senior Analyst' 'Database Admin Senior Specialist'
 'Salesforce Health Cloud Application Developer'
 'SAP ABAP Development for HANA Application Developer'
 'Clinical Data Svs Associate-Clinical'
 'Oracle Analytics Cloud Application Developer'
 'Workday Prism Analytics Application Designer'
 'Reltio Application Developer'
 'Project Coordinator (Data Analyst)Bangalore'
 'Actimize Application Developer'
 'SAP Manufacturing Integration & Intelligence Applicatio ...'
 'Quality Auditing Associate Manager-Software and Platfor ...'
 'Procurement Operations Specialist - Procurement managem ...'
 'Cloud Based Service Management Process Design Cloud Mig ...'
 'Salesforce DevOps Release Engineer' 'SFDC Salesforce Developer'
 'Power Apps and Power BI Developer' 'Pega' 'Sr. Salesforce Developer'
 'ER modelling' 'Project Manager-Development Operations'
 'Senior Manager HR' 'Process Specialist'
 'We have an opening for Data Analysis & Interpretation A ...'
 'MANAGER-WORKDAY ANALYTICS NOIDA' 'MANAGER-WORKDAY ANALYTICS GURUGRAM'
 'Data Analyst (Business professional Institute)'
 'Core Python / Snowflake' 'OBIEE/ODI Consultant' '.Net Architect'
 'CICS System Programmer' '.Net Core Lead' '.Net Core Senior Developer'
 'Advanced Analytics Engineer'
 'Data Engineer I, International Machine Learning'
 'Senior QA Automation Engineer with Networking/ 8-12 yea ...'
 'Technical Leader- QA Automation with Networking / 12-16 ...'
 'Specialist-Data Center Operations' 'Business Intelligence Advisor'
 'GCP Data Architect with PreSales'
 'Big Data Engineer || Lead || IRC189683'
 'Senior Manager - DMS Support/Senior Manager - DMS Suppo ...'
 'Digital Engineering Lead Consultant' 'Digital Engineering Sr. Engineer'
 'Digital Engineering Senior Consultant'
 'Consultant - Business Consulting (SURE)'
 'Sr Consultant/Principal - Business Consulting (SURE)'
 'SAP Analytics Consultant - SAP Analytics Cloud, SAC Pla ...'
 'Vacant for _GCP Data Engineer- Delhi'
 'Vacant for _GCP Data Engineer- Chennai'
 ' for _GCP Data Engineer- Chennai' ' for _GCP Data Engineer- Bangalore'
 'Hiring for _GCP Data Engineer- Bangalore'
 'Hiring for _GCP Data Engineer- Hyderabad'
 'Hire_GCP Data Engineer- Mumbai' 'Hire_GCP Data Engineer- Pune'
 'We have opening AI Data Scientist'
 'CN - Strategy - MC - Utilities Oracle - 07'
 'CN - Strategy - MC - Utilities Oracle - 11'
 'Implementation-Conversion Analyst Specialist'
 'Digital Engineering Lead Engineer'
 'Director Python Developer/RAPD(Risk Analytics Platform...'
 'Digital Engineering Senior staff Engineer'
 'SAP Data Migration Technical Consultant' 'Manager - Data Analytics'
 'Enterprise Resource Planning Specialist'
 'ERP Specialist - Oracle EBS Finance - Functional'
 'Systems Integration Advisor' 'Industry Consulting Sr. Consultant'
 'Network Convergence Specialist Advisor'
 'Business Intelligence Senior Specialist'
 'Senior Manager - IED Non Market Risk'
 'Software Engineer III - ServiceNow Developer'
 'Senior IOT Developer - AWS platform' 'Portfolio Analytics Associate'
 'Experienced Software Engineer Java / Python (Full Stack ...'
 '2023 SAP PLM Architect_IN' 'Lead Software Development Engineer FinOps'
 'Microsoft Azure Data Services Application Developer'
 'SAP BW/4HANA Data Modeling & Development Application Le ...'
 'GCP Data Engineer- Chennai' 'GCP Data Engineer- Delhi'
 'GCP Data Engineer- Bangalore' 'GCP Data Engineer- Hyderabad'
 'Hire _GCP Data Engineer/Lead- Mumbai'
 'Hire _GCP Data Engineer/Lead- Pune'
 'Data Engineering Manager, Workforce Intelligence PXT-Ta ...'
 'Competitive Pricing Architect Associate Manager'
 'DATA INTEGRATION LEAD - AHMEDABAD -id35386'
 'Product Owner SAP Master Data Platforms' 'Data & AI Strategy Sales Lead'
 'GN - SONG - MT - Data Monetization - Manager'
 'PySpark Data Platform Engineer' 'Business Intelligence Senior Analyst'
 'MuleSoft Anypoint Platform Data Platform Engineer'
 'Stibo Product Master Data Management Application Lead'
 'SAP CPI for Data Services Business Analyst'
 'Managing Consultant, Advisors Client Services'
 'Apply for Senior AI Data Scientist-Reputed IT Industry'
 'Apache Spark Application Lead' 'Google BigQuery Application Developer'
 'SAP Plant Maintenance (PM) Application Developer'
 'Salesforce Marketing Cloud Application Developer'
 'Google Cloud Platform Architecture Application Lead'
 'Mainframe Modernization Cloud Migration Engineer'
 'Microsoft Robotic Process Automation Application Develo ...'
 'Home-Based Work for 12th or Graduate Data Entry Operato ...'
 ' for Senior AI Data Scientist'
 'Sr Associate, Software Development Engineering' 'PL/SQL developer'
 'Tech Lead, Software Development Engineering'
 'Technology - Analyst Program I' 'Software Engineer 2'
 'Software Senior Principal Engineer'
 'GCP Data Engineer (23-01367) - Chennai' 'Data Aggregation Engineer'
 'Kinaxis Application Developer'
 'Microsoft SQL Server Analysis Services (SSAS) Applicati ...'
 'Quality Analyst - Content Management'
 'Quality Auditing Analyst-Content Management'
 ' for AI Data Scientist-Reputed IT Industry'
 'PySpark Application Developer'
 'Microsoft Azure PaaS Application Developer'
 'DTICI Senior Solution Architect-T5'
 'Business Intelligence Engineer, CXBT'
 'Sr. Configuration Executive , Network Excellence'
 'CN - Strategy - MC - Capital Markets - 07'
 'Service Delivery Ops Specialist - Workforce Services'
 'Microsoft Dynamics 365 ERP Technical Application Lead'
 'Vacancy for Senior AI Data Scientist-Reputed IT Industr ...'
 'Data Management Analyst' 'Java Enterprise Edition Application Developer'
 'Workday Advanced Reporting Application Developer'
 'PostgreSQL Administration Application Support Engineer'
 'SAP CO Management Accounting Application Lead'
 'HR Function Delivery Associate Manager'
 'Service Delivery Ops Analyst - Workforce Services'
 'IBM Maximo Application Lead'
 'Gigya Customer Identity & Access Management Security Ar ...'
 'Microsoft Dynamics 365 ERP Technical Business Architect'
 'C and C++ Backend Developer for Instana Tracers Team'
 'Sr. Operations Manager, Fashion Data Services'
 'Senior Platform Engineer-2' 'IT Solution Architect Logistics GTM'
 'MB.OS CarSEC_Onboard_Security' 'Require now Junior AI Data Scientist'
 'Azure Synapse Data Engineer'
 ' for Junior AI Data Scientist-Reputed IT Industry'
 'Req. post forJunior AI Data Scientist-Reputed IT Indu ...'
 'Joiner for Junior AI Data Scientist'
 'Social Media Data Analytics and Strategy'
 'Sr Syniti ADM Tech Consultant' 'Senior Software Engineer'
 'Production Mgmt (Production Management)'
 ' Post for_Power BI Specialist - Chennai'
 'Senior AI Data Scientist-Reputed IT Industry'
 'Regional Cooling Service Representative (Data Center Co ...'
 '.Net Full stack' '.NET developer 253818'
 'Systems Integration Senior Specialist'
 'Corporate Compliance Senior Specialist'
 'Lead Cloud Engineer - GCP & Kubernetes' 'SharePoint Developer'
 'OnBase and ImageRight - Offshore lead and Senior Develo ...'
 'SAP OpenText VIM Sr. Consultant' 'Configuration Senior Analyst'
 'Network Convergence Sr. Specialist Advsr'
 'System Engineering Specialist' 'Dynamics F&O Functional Conultant'
 'Manhattan WMS Consultant' 'JDA Consultant' 'Maximo Consultant'
 'Oracle EBS Payroll Consultant' 'Workday Consultant'
 'PLM Flex Consultant' 'Python - Network Automation and CPE Tester'
 'Thingworx Professional' 'NodeJS OTT Developer' 'APRISO Consultant'
 'Appium Engineer' 'AWS Admin and AWS Architect'
 'Hadoop Cluster Developer' 'AWS Admin And AWS Architect'
 'AWS DevOps and Kafka Developer' 'L2/L3 Video Support Engineer'
 'OT Developer' 'NodeJS and JavaScript Developer' 'CAD Engineer'
 'Senior Consultant' 'Legal Data Scientist' 'Senior Network Architect'
 'Senior Analyst, Econometrics-1'
 'Sr. Applied Scientist - III, Intl Seller Growth'
 'SAP MM Materials Management Application Developer'
 'SAP Purchasing (MM PO) Application Developer'
 'Technical Leader C , Linux with Networking Switching/12 ...'
 'Sr Development Engineer C, Linux with Network switching ...'
 'Data Engineer Business Intelligence'
 'Manager, Colleague Success Services, APAC (HR Shared Se ...'

In [52]:
# Total number of rows before removing duplicates
print(f"Total number of rows before removing any duplicate rows are: {df.shape}\n")

# Number of duplicate rows
print(f"Number of duplicate rows in the dataset are: {df[df.duplicated()].shape}\n")

# Removing duplicate rows
df.drop_duplicates(inplace = True)

# Total number of rows after removing duplicates
print(f"Total number of rows after removing duplicate rows are: {df.shape}")

Total number of rows before removing any duplicate rows are: (980, 6)

Number of duplicate rows in the dataset are: (51, 6)

Total number of rows after removing duplicate rows are: (929, 6)

In [53]:
# Checking if their are any missing values

df.isnull().sum()

Titles                   0
Company Name             0
Job Location             0
Experience (in range)    0
Total Vacancies          0
Experience               0
dtype: int64

In [54]:
# Changing datatype of the column 'Experience'

df['Experience'] = df['Experience'].astype('int64')

In [60]:
df['Total Vacancies'].unique()

array([ 1, 99, 10,  8, 12])

In [61]:
# Adding new column

# Creating a column known as 'Vacancy_Category' by performing a nested condition on column 'Total Vacancies'
df['Vacancy_Category'] = np.where(df['Total Vacancies'] == 1, 'Single Vacancy', np.where((df['Total Vacancies'] > 1) & (df['Total Vacancies'] < 15), 'Medium Vacancies', 'High Vacancies'))

# Creating a column known as 'Experience_Category' by performing a nested condition on column 'Experience'
df['Experience_Category'] = np.where(df['Experience'] == 0, 'Fresher', np.where((df['Experience'] > 0) & (df['Experience'] < 6), 'Medium Experience', 'High Experience'))

In [62]:
# Let's see the dataset after adding new columns

df.head()

,Titles,Company Name,Job Location,Experience (in range),Total Vacancies,Experience,Experience_Category,Vacancy_Category
0,Data Scientist,MNR Solutions Pvt Ltd,All India,3 to 6,1,3,Medium Experience,Single Vacancy
1,Data Scientist,EXPONUS TRADELINK PRIVATE LIMITED,All India,3 to 6,99,3,Medium Experience,High Vacancies
2,Data Science,CORPORATE STEPS..,Bangalore,0 to 2,1,0,Fresher,Single Vacancy
3,for__Data ScientistMumbai,Alpine Manpower Services,Mumbai,2 to 7,1,2,Medium Experience,Single Vacancy
4,Required for _Data ScientistMumbai,Alpine Manpower Services,Mumbai,2 to 7,1,2,Medium Experience,Single Vacancy

## ***3. Data Vizualization***

# **Conclusion**